{% case name %}
  {% when 'quote' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
      <path d="M8.76444 31.2101C7.44925 31.2138 6.15724 31.5567 5.01333 32.2057C6.62427 28.0359 9.29611 24.3591 12.7644 21.539C12.9629 21.3756 13.1272 21.1747 13.248 20.9477C13.3688 20.7208 13.4437 20.4723 13.4685 20.2164C13.4932 19.9606 13.4674 19.7023 13.3923 19.4564C13.3173 19.2106 13.1945 18.9819 13.0311 18.7834C12.8677 18.585 12.6668 18.4207 12.4399 18.2999C12.2129 18.1791 11.9644 18.1042 11.7086 18.0794C11.4527 18.0547 11.1944 18.0805 10.9486 18.1556C10.7027 18.2306 10.474 18.3534 10.2756 18.5168C3.16444 24.2946 0 32.2946 0 37.2546C0.0122525 39.0083 0.53488 40.7206 1.50407 42.1822C2.47326 43.6439 3.84708 44.7918 5.45778 45.4857C6.5002 45.9906 7.64175 46.2578 8.8 46.2679C9.81949 46.3174 10.8384 46.1594 11.795 45.8034C12.7516 45.4474 13.6259 44.9009 14.365 44.1969C15.104 43.4929 15.6924 42.6461 16.0944 41.7079C16.4964 40.7697 16.7037 39.7597 16.7037 38.739C16.7037 37.7183 16.4964 36.7083 16.0944 35.7701C15.6924 34.8319 15.104 33.9851 14.365 33.2811C13.6259 32.5771 12.7516 32.0306 11.795 31.6746C10.8384 31.3186 9.81949 31.1606 8.8 31.2101H8.76444Z" fill="white" fill-opacity="0.2"/>
      <path d="M28.5691 31.2131C27.2539 31.2167 25.9619 31.5596 24.818 32.2086C26.4283 28.0432 29.0931 24.3676 32.5514 21.5419C32.7678 21.3859 32.95 21.1873 33.0868 20.9582C33.2236 20.7291 33.3121 20.4744 33.3468 20.2099C33.3815 19.9453 33.3617 19.6764 33.2886 19.4198C33.2155 19.1632 33.0907 18.9243 32.9218 18.7177C32.7529 18.5111 32.5435 18.3413 32.3065 18.2187C32.0695 18.0961 31.81 18.0233 31.5438 18.0047C31.2776 17.9862 31.0105 18.0223 30.7588 18.1109C30.5071 18.1994 30.2762 18.3386 30.0802 18.5197C22.9691 24.2975 19.8047 32.2975 19.8047 37.2575C19.8131 38.9914 20.3205 40.6862 21.2662 42.1395C22.212 43.5928 23.5561 44.7431 25.138 45.4531C26.2075 45.971 27.3809 46.2385 28.5691 46.2353C29.5886 46.2848 30.6075 46.1268 31.5641 45.7708C32.5207 45.4148 33.3951 44.8683 34.1341 44.1643C34.8732 43.4603 35.4615 42.6135 35.8636 41.6753C36.2656 40.7371 36.4729 39.7271 36.4729 38.7064C36.4729 37.6857 36.2656 36.6756 35.8636 35.7375C35.4615 34.7993 34.8732 33.9525 34.1341 33.2485C33.3951 32.5445 32.5207 31.998 31.5641 31.642C30.6075 31.286 29.5886 31.1279 28.5691 31.1775V31.2131Z" fill="white" fill-opacity="0.2"/>
    </svg>
  {% when 'video_play_btn' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33854 0.777535C3.3485 0.784177 3.35849 0.790841 3.36852 0.797525L12.1591 6.65793C12.4135 6.82747 12.6493 6.98466 12.8304 7.13073C13.0195 7.28318 13.2423 7.49458 13.3706 7.80383C13.5401 8.21258 13.5401 8.67197 13.3706 9.08073C13.2423 9.38998 13.0195 9.60138 12.8304 9.75382C12.6493 9.89989 12.4135 10.0571 12.1592 10.2266L3.33857 16.107C3.02766 16.3143 2.7481 16.5007 2.51087 16.6293C2.27349 16.7579 1.94765 16.9049 1.56733 16.8822C1.08087 16.8532 0.631494 16.6127 0.337487 16.224C0.107634 15.9202 0.049208 15.5675 0.024572 15.2986C-4.61858e-05 15.03 -2.35354e-05 14.694 1.59788e-06 14.3203L3.18734e-06 2.6003C3.18734e-06 2.58825 2.39261e-06 2.57624 1.59788e-06 2.56426C-2.35354e-05 2.1906 -4.61858e-05 1.8546 0.024572 1.58592C0.049208 1.31704 0.107634 0.964375 0.337487 0.660532C0.631494 0.271884 1.08087 0.0313839 1.56733 0.00233836C1.94765 -0.0203692 2.27349 0.12664 2.51087 0.255289C2.74809 0.383845 3.02765 0.570243 3.33854 0.777535Z" fill="white"/>
    </svg>
  {% when 'clock' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M12 6V12L16 14" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'mute_btn' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="264" height="264" viewBox="0 0 264 264" fill="none">
      <rect width="264" height="264" fill="#1D2736"/>
      <path d="M191.86 183.14L80.8601 72.1404C78.4489 69.7292 74.5516 69.7292 72.1404 72.1404C69.7292 74.5516 69.7292 78.4489 72.1404 80.8601L96.9736 105.693C95.7464 107.784 95.0002 110.442 95.0002 113.5V150.5C95.0002 157.302 100.532 162.834 107.334 162.834H129.447L158.474 191.86C159.652 193.038 161.23 193.667 162.834 193.667C163.629 193.667 164.431 193.519 165.195 193.198C167.502 192.249 169 189.992 169 187.5V177.72L183.14 191.86C184.343 193.063 185.922 193.667 187.5 193.667C189.079 193.667 190.658 193.063 191.86 191.86C194.271 189.449 194.271 185.552 191.86 183.14Z" fill="white"/>
      <path d="M169.001 76.5001V144.333L125.834 101.167H129.472L158.456 72.1218C160.244 70.3951 162.896 69.8401 165.177 70.8268C167.521 71.7518 169.001 74.0335 169.001 76.5001Z" fill="white"/>
    </svg>
  {% when 'play-btn' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
        <foreignObject x="-23" y="-22.3794" width="86" height="86"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(11.5px);clip-path:url(#bgblur_0_17267_38328_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="23">
          <g filter="url(#filter1_i_17267_38328)">
            <path d="M20 0.620605C31.0457 0.620605 40 9.57491 40 20.6206C40 31.6663 31.0457 40.6206 20 40.6206C8.95431 40.6206 0 31.6663 0 20.6206C0 9.57491 8.95431 0.620605 20 0.620605ZM16.875 13.2847C16.0417 12.8189 15 13.401 15 14.3325V26.9087C15 27.8402 16.0417 28.4223 16.875 27.9565L28.125 21.6685C28.9582 21.2027 28.9582 20.0385 28.125 19.5728L16.875 13.2847Z" fill="white" fill-opacity="0.51"/>
          </g>
        </g>
        <defs>
          <clipPath id="bgblur_0_17267_38328_clip_path" transform="translate(23 22.3794)"><path d="M0 20.6206C0 9.57491 8.95431 0.620605 20 0.620605V0.620605C31.0457 0.620605 40 9.57491 40 20.6206V20.6206C40 31.6663 31.0457 40.6206 20 40.6206V40.6206C8.95431 40.6206 0 31.6663 0 20.6206V20.6206Z"/>
        </clipPath><filter id="filter1_i_17267_38328" x="0" y="0.620605" width="40" height="40.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="0.5"/>
        <feGaussianBlur stdDeviation="0.25"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_17267_38328"/>
      </filter>
      </defs>
    </svg>
  {% when 'tech' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
      <mask id="mask0_18650_9907" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
        <path d="M0 1.90735e-06H28.0001V28H0V1.90735e-06Z" fill="white"/>
      </mask>
      <g mask="url(#mask0_18650_9907)">
        <path d="M23.694 0.411054H4.30058C3.93116 0.411054 3.62891 0.713312 3.62891 1.08273V4.94531H24.3657V1.08273C24.3657 0.713312 24.0634 0.411054 23.694 0.411054Z" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M11.6161 1.80979H5.43778C5.27476 1.80979 5.14258 1.94197 5.14258 2.10493V3.24391C5.14258 3.40694 5.27476 3.53906 5.43778 3.53906H11.6161C11.7791 3.53906 11.9113 3.40694 11.9113 3.24391V2.10493C11.9113 1.94197 11.7791 1.80979 11.6161 1.80979Z" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22.2251 25.9883H5.77138C5.29024 25.9883 4.84491 25.8273 4.48633 25.5568V25.6252C4.48633 26.7058 5.37041 27.5898 6.45098 27.5898H21.5455C22.6261 27.5898 23.5102 26.7058 23.5102 25.6252V25.5568C23.1515 25.8273 22.7063 25.9883 22.2251 25.9883Z" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.0979 13.0041C10.2235 12.7254 10.1022 12.3975 9.82564 12.2676L8.17505 11.4922C7.89259 11.3595 7.55676 11.4839 7.4278 11.7666C6.56374 13.6615 6.56254 15.853 7.42775 17.7505C7.5573 18.0347 7.89412 18.157 8.175 18.0249L9.82564 17.2496C10.1022 17.1197 10.2235 16.7918 10.0979 16.5131C9.59562 15.3984 9.5948 14.1207 10.0979 13.0041Z" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.9988 9.92298C12.2339 9.92298 10.6904 10.8684 9.84558 12.2801C10.1076 12.4163 10.2201 12.7341 10.0977 13.0058C9.59461 14.1224 9.59543 15.4001 10.0977 16.5148C10.2201 16.7865 10.1076 17.1043 9.84558 17.2406C10.6904 18.6522 12.2339 19.5977 13.9988 19.5977C16.6704 19.5977 18.8361 17.4319 18.8361 14.7603C18.8361 12.0888 16.6704 9.92298 13.9988 9.92298Z" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14 14.7603C12.2441 13.6138 10.5346 14.1329 9.73044 14.5028C9.68921 15.1864 9.81171 15.8773 10.099 16.5148C10.2214 16.7865 10.1088 17.1043 9.84682 17.2406C10.6917 18.6522 12.2352 19.5977 14 19.5977C16.6716 19.5977 18.8374 17.4319 18.8374 14.7603C18.8374 14.7603 16.4173 16.3386 14 14.7603Z" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14.6836 2.00391H15.0567" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14.6836 3.34766H15.0567" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.8242 2.00391H17.1974" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.8242 3.34766H17.1974" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.9629 2.00391H19.336" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.9629 3.34766H19.336" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21.1035 2.00391H21.4766" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21.1035 3.34766H21.4766" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M21.699 6.45344C21.1156 6.45344 20.6426 6.92643 20.6426 7.5099C20.6426 8.09341 21.1156 8.56641 21.699 8.56641C22.2825 8.56641 22.7555 8.09341 22.7555 7.5099C22.7555 6.92643 22.2825 6.45344 21.699 6.45344Z" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.0425 8.16462C10.9569 8.46491 9.18377 9.73131 8.19146 11.496L9.82613 12.2639C10.1028 12.3938 10.224 12.7217 10.0985 13.0004C9.59535 14.117 9.59617 15.3948 10.0985 16.5093C10.224 16.7881 10.1028 17.116 9.82613 17.2459L8.19141 18.0138C9.33246 20.043 11.5057 21.4141 13.9994 21.4141C17.6772 21.4141 20.6586 18.4327 20.6586 14.7549C20.6586 11.4022 18.1808 8.6287 14.9565 8.16457" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24.3657 13.8034V4.94834H3.62891V23.8507C3.62891 25.0285 4.59261 25.9922 5.77047 25.9922H22.2241C23.402 25.9922 24.3657 25.0285 24.3657 23.8507V13.8034Z" stroke="white" stroke-width="0.820314" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
    </svg>
  {% when 'headpgone' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
      <g clip-path="url(#clip0_18618_10239)">
        <path d="M35.3039 13.5053C34.4703 11.3247 33.136 10.9363 32.3634 10.9124C31.8009 7.94249 30.0607 5.23145 27.4521 3.26875C24.8247 1.29184 21.4719 0.203125 18.0115 0.203125C14.5215 0.203125 11.1469 1.30837 8.50929 3.3153C5.93184 5.27652 4.21734 7.96576 3.65906 10.9119C2.8902 10.9288 1.53787 11.3031 0.696023 13.5053C0.247219 14.6793 0 16.231 0 17.8743C0 19.5177 0.247219 21.0693 0.696094 22.2434C1.55897 24.5004 2.95861 24.8379 3.71609 24.8379H5.45801C7.3222 24.8379 8.83884 23.3456 8.83884 21.5114V14.2374C8.83884 12.664 7.72235 11.3431 6.22814 10.9991C7.34766 6.24775 12.2945 2.7343 18.0115 2.7343C23.7043 2.7343 28.6724 6.2526 29.7942 10.9941C28.2888 11.3299 27.1612 12.6561 27.1612 14.2374V21.5111C27.1631 22.0711 27.3069 22.6215 27.5792 23.1109C27.8515 23.6003 28.2434 24.0127 28.7182 24.3096C27.4017 27.0135 24.7121 29.0796 21.3917 29.9322C20.9289 29.1293 20.1964 28.5167 19.3243 28.2034C18.4523 27.89 17.4974 27.8962 16.6295 28.2209C15.7616 28.5456 15.0371 29.1677 14.5848 29.9765C14.1326 30.7852 13.982 31.7282 14.1598 32.6376C14.3377 33.547 14.8324 34.3638 15.556 34.9427C16.2796 35.5215 17.1851 35.8249 18.1113 35.7987C19.0376 35.7725 19.9245 35.4186 20.6143 34.7998C21.304 34.181 21.7519 33.3376 21.8781 32.4196C26.1882 31.3554 29.6707 28.5629 31.2334 24.8966L31.2587 24.8372H32.284C33.0415 24.8372 34.4411 24.5002 35.304 22.2427C35.7528 21.0685 36.0001 19.5171 36.0001 17.8737C36.0001 16.2304 35.7528 14.6793 35.3039 13.5053ZM6.30759 21.5111C6.30759 21.9421 5.91855 22.3064 5.45801 22.3064H3.71602C3.62644 22.3064 3.33696 22.0629 3.06042 21.3396C2.72412 20.4599 2.53125 19.1971 2.53125 17.8743C2.53125 16.5516 2.72412 15.2888 3.06042 14.4091C3.33696 13.6858 3.62644 13.4423 3.71602 13.4423H5.45801C5.91855 13.4423 6.30759 13.8064 6.30759 14.2374V21.5111ZM18 33.2693C17.7262 33.2693 17.4586 33.1882 17.231 33.0361C17.0034 32.884 16.826 32.6678 16.7212 32.4149C16.6164 32.1619 16.589 31.8836 16.6424 31.6151C16.6958 31.3466 16.8277 31.1 17.0212 30.9064C17.2148 30.7128 17.4615 30.581 17.73 30.5276C17.9985 30.4742 18.2768 30.5016 18.5297 30.6064C18.7826 30.7111 18.9988 30.8885 19.1509 31.1162C19.303 31.3438 19.3842 31.6114 19.3842 31.8852C19.3837 32.2521 19.2378 32.604 18.9783 32.8634C18.7188 33.1229 18.367 33.2689 18 33.2693ZM32.9396 21.3396C32.663 22.0629 32.3736 22.3064 32.284 22.3064H30.542C30.0814 22.3064 29.6924 21.9421 29.6924 21.5111V14.2374C29.6924 13.8064 30.0814 13.4423 30.542 13.4423H32.284C32.3736 13.4423 32.663 13.6858 32.9396 14.4091C33.2759 15.2888 33.4688 16.5518 33.4688 17.8743C33.4688 19.1969 33.2759 20.4599 32.9396 21.3396Z" fill="white"/>
      </g>
      <defs>
        <clipPath id="clip0_18618_10239">
          <rect width="36" height="36" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  {% when 'left_arrow' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M19 12L5 12M5 12L12 19M5 12L12 5" stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'right_arrow_mbl_nav' %}
    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_429_11254)">
    <path d="M10 17L15 12" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15 12L10 7" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
    <clipPath id="clip0_429_11254baal">
    <rect width="24" height="24" fill="white"/>
    </clipPath>
    </defs>
    </svg>
  {% when 'right_arrow' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
      <path d="M5 12.3H19M19 12.3L12 5.30005M19 12.3L12 19.3" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    {% comment %} <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_429_11254)">
    <path d="M10 17L15 12" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15 12L10 7" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
    <clipPath id="clip0_429_11254baal">
    <rect width="24" height="24" fill="white"/>
    </clipPath>
    </defs>
    </svg> {% endcomment %}
  {% when 'close' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M18 6L6 18M6 6L18 18" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'faq-plus' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M12 6V12M12 12V18M12 12H18M12 12L6 12" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'faq-minus' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M18 12H6" stroke="#4B5563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'plus' %}
    <svg class="plus-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path d="M3.33331 7.99999L12.6666 7.99999M7.99998 12.6667L7.99998 3.33332" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'minus' %}
    <svg
      class="minus-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
    >
      <path d="M3.33331 8H12.6666" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'account' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
      <path d="M17.1666 17.5C17.1666 16.337 17.1666 15.7555 17.0231 15.2824C16.6999 14.217 15.8663 13.3834 14.8009 13.0602C14.3278 12.9167 13.7463 12.9167 12.5833 12.9167H8.41665C7.25368 12.9167 6.67219 12.9167 6.19903 13.0602C5.13369 13.3834 4.30001 14.217 3.97685 15.2824C3.83331 15.7555 3.83331 16.337 3.83331 17.5M14.25 6.25C14.25 8.32107 12.571 10 10.5 10C8.42891 10 6.74998 8.32107 6.74998 6.25C6.74998 4.17893 8.42891 2.5 10.5 2.5C12.571 2.5 14.25 4.17893 14.25 6.25Z" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'down' %}
    <svg fill="#000000" width="25px" height="25px" viewBox="0 -6 524 524" xmlns="http://www.w3.org/2000/svg">
      <title>down</title><path d="M64 191L98 157 262 320 426 157 460 191 262 387 64 191Z" />
    </svg>
  {% when 'link' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" fill="none">
      <path d="M6 12L10 8L6 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  {% when 'cart-minus' %}
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      class="_icon_11egs_268"
      aria-hidden="true"
    >
      <path d="M21 12.5H3v-1h18v1Z"></path>
    </svg>
  {% when 'cart-plus' %}
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      class="_icon_11egs_268"
      aria-hidden="true"
    >
      <path d="M21 12.5H3v-1h18v1Z"></path><path d="M12.5 3v18h-1V3h1Z"></path>
    </svg>
  {% when 'cart-delete' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-minus" width="8" height="8" viewBox="0 0 8 8" fill="none">
      <path d="M7.23248 1.57393L4.80812 3.99829L7.23248 6.42266L6.42436 7.23078L3.99999 4.80641L1.57563 7.23078L0.767506 6.42266L3.19187 3.99829L0.767506 1.57392L1.57563 0.765803L3.99999 3.19017L6.42436 0.765803L7.23248 1.57393Z" fill="#6C7884"></path>
    </svg>
  {% when 'shield' %}
    
    {% comment %}{% endcomment %}
      <svg
        class="--shield-icon"
        width="32"
        height="33"
        viewBox="0 0 32 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M15.9972 3.63196C11.9865 3.63196 9.38655 6.32396 6.31188 7.30529C5.06121 7.70529 4.43588 7.90396 4.18255 8.18529C3.92921 8.46529 3.85588 8.87729 3.70788 9.69862C2.12121 18.4933 5.58788 26.624 13.8545 29.7893C14.7412 30.1293 15.1852 30.2986 16.0012 30.2986C16.8172 30.2986 17.2625 30.128 18.1505 29.788C26.4159 26.624 29.8785 18.4933 28.2919 9.69862C28.1439 8.87729 28.0692 8.46529 27.8159 8.18396C27.5625 7.90262 26.9385 7.70396 25.6879 7.30529C22.6119 6.32396 20.0079 3.63196 15.9972 3.63196Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.6665 14.244C13.6665 14.164 13.6772 13.7026 13.6799 13.124C13.6799 12.5933 13.6345 12.084 13.8879 11.6173C14.8345 9.73196 17.5545 9.92396 18.2265 11.844C18.3425 12.16 18.3505 12.66 18.3465 13.124C18.3425 13.7146 18.3545 14.244 18.3545 14.244M13.7825 14.8053C12.3425 14.8053 11.6225 15.8453 11.4625 16.4853C11.3025 17.1253 11.3025 19.4453 11.3985 20.4053C11.7185 21.6053 12.5185 22.1013 13.3025 22.2613C14.0225 22.3253 17.0625 22.3013 17.9425 22.3013C19.2225 22.3253 20.1825 21.8453 20.5825 20.4053C20.6625 19.9253 20.7425 17.2853 20.5425 16.4853C20.1185 15.2053 19.0625 14.8053 18.2625 14.8053H13.7825Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    
    {% comment %} <svg
      class="--shield-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="27"
      height="28"
      viewBox="0 0 27 28"
      fill="none"
    >
      <g clip-path="url(#clip0_26_2)">
        <path d="M26.0147 6.17812L13.3016 0.0407695C13.1889 -0.0135898 13.0576 -0.0135898 12.945 0.0407695L0.23182 6.17812C0.0900702 6.24654 0 6.39009 0 6.54748V21.4525C0 21.6099 0.0900702 21.7534 0.23182 21.8218L12.9449 27.9592C13.0012 27.9864 13.0623 28 13.1232 28C13.1842 28 13.2452 27.9864 13.3016 27.9592L26.0147 21.8218C26.1564 21.7534 26.2465 21.6099 26.2465 21.4525V6.54754C26.2465 6.39004 26.1563 6.24659 26.0147 6.17812ZM13.1232 0.86562L24.8929 6.54748L21.4811 8.19456C21.4595 8.1781 21.4367 8.1629 21.4117 8.15081L9.72195 2.50761L13.1232 0.86562ZM8.79566 2.97136L20.5482 8.64496L18.1411 9.80702L6.39345 4.13571L8.79566 2.97136ZM20.8232 9.42306V13.7185L18.5748 14.804V10.5085L20.8232 9.42306ZM25.4262 21.1951L13.5334 26.9363V12.9422L16.3702 11.5728C16.5742 11.4743 16.6597 11.2291 16.5612 11.0251C16.4627 10.8211 16.2176 10.7355 16.0135 10.834L13.1232 12.2294L10.2332 10.8342C8.48038 9.98809 10.5227 11.1779 10.4242 11.3819C10.3257 11.5859 9.67257 11.4744 9.87655 11.5729L12.7131 12.9422V26.9363L0.820312 21.195V7.20094L9.87655 11.5729C9.93403 11.6007 9.99479 11.6138 10.0546 11.6138C10.207 11.6138 10.3535 11.5284 10.4242 11.3819C10.5227 11.1779 10.4372 10.9327 10.2332 10.8342L1.35357 6.54748L5.42806 4.58048L17.7488 10.5285C17.7506 10.531 17.7526 10.5332 17.7545 10.5357V15.4575C17.7545 15.5986 17.8271 15.7298 17.9466 15.8049C18.013 15.8466 18.0887 15.8676 18.1647 15.8676C18.2255 15.8676 18.2865 15.8541 18.343 15.8268L21.4117 14.3454C21.5534 14.277 21.6435 14.1335 21.6435 13.9761V9.02712L25.4262 7.201V21.1951Z" fill="white"/>
        <path d="M2.93108 20.4042L0.798891 19.3749C0.565641 19.2622 0.285517 19.3601 0.172954 19.5932C0.060392 19.8263 0.158142 20.1066 0.391267 20.2192L2.52345 21.2485C2.58914 21.2802 2.65858 21.2952 2.72689 21.2952C2.90114 21.2952 3.06851 21.1976 3.14933 21.0302C3.26195 20.797 3.1642 20.5168 2.93108 20.4042Z" fill="white"/>
        <path d="M4.89334 19.129L0.801782 17.1538C0.568595 17.0412 0.288407 17.139 0.175845 17.3721C0.0633448 17.6053 0.161095 17.8855 0.39422 17.9981L4.48578 19.9733C4.55147 20.005 4.62091 20.0201 4.68922 20.0201C4.86347 20.0201 5.03084 19.9225 5.11166 19.755C5.22422 19.5218 5.12647 19.2415 4.89334 19.129Z" fill="white"/>
      </g>
      <defs>
        <clipPath id="clip0_26_2">
          <rect width="27" height="28" fill="white"/>
        </clipPath>
      </defs>
    </svg> {% endcomment %}

  {% when 'up-v3' %}
    <svg
      class="up-v3"
      xml:space="preserve"
      style="enable-background:new 0 0 512 512;"
      viewBox="0 0 50 50"
      y="0px"
      x="0px"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns="http://www.w3.org/2000/svg"
      id="Layer_1"
      version="1.1"
      width="50"
      height="50"
    >
      <g><g><path d="M49.667 30.986c-7.667 -5.5 -14.417 -12.167 -20.083 -19.667l-3.917 -5.167c-0.333 -0.417 -1 -0.417 -1.333 0l-3.917 5.167C14.75 18.903 8 25.486 0.333 30.986 0.167 31.153 0 31.403 0 31.653v11.667c0 0.333 0.167 0.667 0.417 0.75 0.167 0.083 0.25 0.083 0.417 0.083s0.333 0 0.5 -0.167l0.917 -0.667c7.167 -5.083 13.583 -11.167 19.083 -18.167L25 20.486l3.667 4.75c5.5 6.917 11.917 13 19.083 18.083l1 0.667c0.25 0.167 0.583 0.25 0.833 0.083s0.417 -0.417 0.417 -0.75V31.653c0 -0.25 -0.083 -0.5 -0.333 -0.667m-1.333 10.75c-6.917 -5 -13.083 -10.917 -18.333 -17.583l-4.333 -5.5c-0.333 -0.417 -1 -0.417 -1.333 0l-4.333 5.5c-5.25 6.667 -11.417 12.583 -18.333 17.5v-9.583c7.667 -5.5 14.417 -12.167 20.083 -19.667L25 8.069l3.25 4.25c5.667 7.583 12.417 14.25 20.083 19.75z"></path></g></g>
    </svg>

  {% when 'down-v3' %}
    <svg
      class="down-v3"
      xml:space="preserve"
      style="enable-background:new 0 0 512 512;"
      viewBox="0 0 50 50"
      y="0px"
      x="0px"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns="http://www.w3.org/2000/svg"
      id="Layer_1"
      version="1.1"
      width="50"
      height="50"
      transform="matrix(1,0,0,-1,0,0)"
    >
      <g><g><path d="M49.667 30.986c-7.667 -5.5 -14.417 -12.167 -20.083 -19.667l-3.917 -5.167c-0.333 -0.417 -1 -0.417 -1.333 0l-3.917 5.167C14.75 18.903 8 25.486 0.333 30.986 0.167 31.153 0 31.403 0 31.653v11.667c0 0.333 0.167 0.667 0.417 0.75 0.167 0.083 0.25 0.083 0.417 0.083s0.333 0 0.5 -0.167l0.917 -0.667c7.167 -5.083 13.583 -11.167 19.083 -18.167L25 20.486l3.667 4.75c5.5 6.917 11.917 13 19.083 18.083l1 0.667c0.25 0.167 0.583 0.25 0.833 0.083s0.417 -0.417 0.417 -0.75V31.653c0 -0.25 -0.083 -0.5 -0.333 -0.667m-1.333 10.75c-6.917 -5 -13.083 -10.917 -18.333 -17.583l-4.333 -5.5c-0.333 -0.417 -1 -0.417 -1.333 0l-4.333 5.5c-5.25 6.667 -11.417 12.583 -18.333 17.5v-9.583c7.667 -5.5 14.417 -12.167 20.083 -19.667L25 8.069l3.25 4.25c5.667 7.583 12.417 14.25 20.083 19.75z"></path></g></g>
    </svg>
  {% when 'truck' %}

    {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none">
      <g clip-path="url(#clip0_18497_10277)">
      <path d="M3.5 5.17V9.84C3.5 12.35 3.5 13.61 4.28 14.39C5.06 15.17 6.32 15.17 8.83 15.17H10.83C13.34 15.17 14.6 15.17 15.38 14.39C16.16 13.61 16.16 12.35 16.16 9.84V5.17M3.5 5.17H16.17L15.77 4.64C14.99 3.6 14.59 3.07 14.03 2.79C13.46 2.51 12.81 2.51 11.5 2.51H8.17C6.86 2.51 6.2 2.51 5.64 2.79C5.08 3.07 4.69 3.59 3.9 4.64L3.5 5.17ZM5.83 12.83H9.16M5.83 10.83H7.83" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
      <clipPath id="clip0_18497_10277">
      <rect width="13.67" height="13.67" fill="white" transform="translate(3 2)"/>
      </clipPath>
      </defs>
    </svg> {% endcomment %}
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
  <path d="M13.5932 3.02602L6.95033 0.0199687C6.89143 -0.00665625 6.82285 -0.00665625 6.76399 0.0199687L0.12113 3.02602C0.0470634 3.05953 0 3.12984 0 3.20693V10.5073C0 10.5844 0.0470634 10.6547 0.12113 10.6883L6.76396 13.6943C6.79339 13.7076 6.82528 13.7143 6.85714 13.7143C6.889 13.7143 6.92087 13.7076 6.95033 13.6943L13.5932 10.6883C13.6672 10.6547 13.7143 10.5844 13.7143 10.5073V3.20696C13.7143 3.12981 13.6672 3.05956 13.5932 3.02602ZM6.85714 0.423977L13.007 3.20693L11.2243 4.01366C11.213 4.0056 11.2011 3.99815 11.188 3.99223L5.07991 1.22822L6.85714 0.423977ZM4.5959 1.45536L10.7368 4.23427L9.47909 4.80344L3.3407 2.02565L4.5959 1.45536ZM10.8805 4.61538V6.71928L9.7057 7.25093V5.14702L10.8805 4.61538ZM13.2857 10.3813L7.07146 13.1933V6.33906L8.55374 5.66829C8.66033 5.62005 8.70502 5.49997 8.65355 5.40004C8.60209 5.30015 8.47399 5.2582 8.36737 5.30647L6.85714 5.98991L5.34703 5.30655C4.43116 4.89213 5.49831 5.4749 5.44684 5.57481C5.39538 5.67472 5.0541 5.62013 5.16069 5.66837L6.64283 6.33906V13.1933L0.428629 10.3812V3.52699L5.16069 5.66837C5.19072 5.68198 5.22247 5.68841 5.2537 5.68841C5.33337 5.68841 5.40989 5.64657 5.44684 5.57481C5.49831 5.4749 5.45361 5.35479 5.34703 5.30655L0.707266 3.20693L2.83626 2.2435L9.27409 5.15679C9.27504 5.15803 9.2761 5.15912 9.27707 5.16033V7.57101C9.27707 7.64015 9.31499 7.70441 9.37745 7.74118C9.41214 7.7616 9.45172 7.77191 9.49141 7.77191C9.52319 7.77191 9.55505 7.76529 9.58456 7.75193L11.188 7.02633C11.2621 6.99282 11.3091 6.92253 11.3091 6.84542V4.42145L13.2857 3.52702V10.3813Z" fill="black"/>
</svg>
  {% when 'view-all' %}
    <!--
      <svg width="100" height="100" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_17628_14892)">
        <path d="M44.5284 50.7824C45.1928 50.5409 45.9639 50.7542 46.4015 51.3542L46.6431 51.686L51.1643 47.1664C53.119 45.2249 56.3437 45.4831 57.965 47.7099L58.5525 48.5163C60.0131 50.5228 59.5714 53.3341 57.5642 54.7946L53.3378 57.8726C50.3367 60.0571 46.2963 59.2767 44.1117 56.2756L42.5625 54.1514C42.0271 53.4177 42.1999 52.3972 42.9202 51.8743L44.1258 50.9974C44.2521 50.9056 44.3878 50.8342 44.5274 50.7824" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M34.1579 36.7C33.4532 35.7438 32.6055 34.5922 31.5719 33.1883" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M35.7789 38.9016C39.0742 43.3766 37.2695 40.9266 44.5274 50.7821H44.5281V50.7828" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M42.6199 52.1591C27.902 32.1753 36.7669 44.2117 29.6695 34.5744" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M20.8082 23.4352C20.4317 22.9191 20.5455 22.195 21.0616 21.8185L22.0444 21.1024C22.5605 20.7259 23.2845 20.8395 23.6603 21.3557C32.9796 34.1189 17.5281 12.9584 31.4524 32.0274C31.8317 32.5468 31.7117 33.2717 31.1999 33.6441L30.217 34.3602C29.6955 34.7397 28.9735 34.6179 28.6003 34.1069C28.5663 34.0602 21.296 24.1031 20.8082 23.4352Z" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M54.6315 49.6607L48.9265 53.8196" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M55.4912 52.6744L51.5331 55.5602" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M25.6566 24.0901L22.8044 26.1695" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M27.3744 26.4417L24.5223 28.5212" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M35.4718 50.7824C34.8074 50.5409 34.0363 50.7542 33.5986 51.3542L33.3571 51.686L28.8358 47.1664C26.8811 45.2249 23.6565 45.4831 22.0351 47.7099L21.4476 48.5163C19.9863 50.5228 20.4287 53.3341 22.436 54.7946L26.6623 57.8726C29.6634 60.0571 33.7039 59.2767 35.8884 56.2756L37.4376 54.1514C37.9732 53.4177 37.8002 52.3972 37.08 51.8743L35.8743 50.9974C35.748 50.9056 35.6124 50.8342 35.4727 50.7824" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M38.5388 46.6181L35.4725 50.7824H35.4718V50.7832" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M48.4285 33.1884L40.0001 44.6335" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M40.0001 48.6018C39.965 48.6495 40.3535 48.122 37.3802 52.1591" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M43.1766 44.2891L41.4617 46.618" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M50.3305 34.5742L44.7985 42.0867" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M57.1956 26.1695L59.192 23.4352C59.5684 22.9191 59.4547 22.195 58.9386 21.8185L57.9557 21.1023C57.4396 20.7259 56.7156 20.8395 56.3399 21.3557L54.3435 24.0901L52.6257 26.4417L48.5476 32.0274C48.1683 32.5468 48.2884 33.2716 48.8002 33.6441L49.7831 34.3602C50.3045 34.7397 51.0265 34.6179 51.3997 34.1069L55.4777 28.5212L57.1956 26.1695Z" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M25.3687 49.6607L31.0736 53.8196" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24.509 52.6744L28.467 55.5602" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M57.1956 26.1695L54.3436 24.0901" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M55.4779 28.5212L52.6258 26.4417" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M45.2948 28.5212C45.2948 31.4318 42.9369 33.8159 40.0001 33.8159C36.8159 33.8159 34.3853 31.0341 34.7384 27.9329C35.029 25.286 37.2762 23.2265 40.0001 23.2265C42.9371 23.2265 45.2948 25.61 45.2948 28.5212Z" stroke="black" stroke-width="1.17188" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <circle cx="40.0001" cy="28.5212" r="0.585938" fill="black"/>
        <circle cx="40.0001" cy="26.168" r="0.585938" fill="black"/>
        <circle cx="37.9621" cy="27.3445" r="0.585938" fill="black"/>
        <circle cx="37.9621" cy="29.6978" r="0.585938" fill="black"/>
        <circle cx="40.0001" cy="30.8744" r="0.585938" fill="black"/>
        <circle cx="42.038" cy="29.6978" r="0.585938" fill="black"/>
        <circle cx="42.038" cy="27.3445" r="0.585938" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_17628_14892">
        <rect width="40" height="40" fill="white" transform="translate(20 20)"/>
        </clipPath>
        </defs>
      </svg>
    -->
    <svg width="100" height="100" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M54.2138 108.581C54.2138 108.581 54.2138 108.581 54.1986 108.581L51.1904 108.2C51.1141 108.2 51.053 108.108 51.053 108.032C51.053 107.955 51.1293 107.879 51.2209 107.894L54.2291 108.276C54.3054 108.276 54.3665 108.367 54.3665 108.444C54.3665 108.52 54.2902 108.581 54.2138 108.581ZM54.5803 107.1H54.5498L51.7554 106.382C51.679 106.367 51.6332 106.276 51.6485 106.199C51.6638 106.123 51.7554 106.077 51.8317 106.092L54.6261 106.81C54.7025 106.825 54.7483 106.917 54.733 106.993C54.7177 107.054 54.6566 107.1 54.5803 107.1Z" fill="#231F20"/>
      <path d="M53.8014 110.566L50.7475 110.398C50.6253 110.398 50.5337 110.291 50.5337 110.154C50.5337 110.032 50.6406 109.925 50.778 109.94L53.832 110.108C53.9541 110.108 54.0457 110.215 54.0457 110.352C54.0457 110.475 53.9389 110.566 53.8167 110.566H53.8014Z" fill="#231F20"/>
      <path d="M50.1217 113.147C49.969 113.147 49.8469 113.04 49.8316 112.887C49.8011 112.719 49.9232 112.567 50.0759 112.536L53.4506 112.002C53.6185 111.986 53.7712 112.093 53.8018 112.246C53.8323 112.414 53.7101 112.567 53.5574 112.597L50.1828 113.132C50.1828 113.132 50.1523 113.132 50.137 113.132L50.1217 113.147Z" fill="#231F20"/>
      <path d="M49.5411 116.14C49.3884 116.14 49.2357 116.033 49.1746 115.88C49.1135 115.682 49.2204 115.468 49.4189 115.407L53.1753 114.2C53.3738 114.139 53.5876 114.246 53.6487 114.445C53.7097 114.643 53.6029 114.857 53.4043 114.918L49.648 116.124C49.648 116.124 49.5716 116.14 49.5258 116.14H49.5411Z" fill="#231F20"/>
      <path d="M49.2055 119.224C49.0528 119.224 48.9001 119.133 48.8237 118.98C48.7168 118.766 48.8237 118.507 49.0222 118.415L53.0687 116.476C53.2825 116.369 53.5421 116.476 53.6337 116.674C53.7406 116.888 53.6337 117.148 53.4352 117.239L49.3887 119.178C49.3887 119.178 49.2665 119.224 49.2055 119.224Z" fill="#231F20"/>
      <path d="M49.1595 122.171C49.0068 122.171 48.8541 122.095 48.7625 121.942C48.6403 121.729 48.7014 121.438 48.9152 121.316L53.0838 118.843C53.2976 118.72 53.5877 118.781 53.7099 118.995C53.832 119.209 53.7709 119.499 53.5572 119.621L49.3885 122.095C49.3885 122.095 49.2358 122.156 49.1595 122.156V122.171Z" fill="#231F20"/>
      <path d="M49.4493 125.256C49.2966 125.256 49.1439 125.18 49.0523 125.057C48.8996 124.844 48.9454 124.538 49.1592 124.386L53.3279 121.362C53.5416 121.209 53.847 121.255 53.9997 121.469C54.1524 121.683 54.1066 121.988 53.8928 122.141L49.7242 125.164C49.6326 125.225 49.5409 125.256 49.4341 125.256H49.4493Z" fill="#231F20"/>
      <path d="M49.9381 128.875C49.8007 128.875 49.6633 128.814 49.5716 128.707C49.3731 128.493 49.3884 128.172 49.5869 127.974L53.8166 123.989C54.0304 123.79 54.3511 123.805 54.5496 124.004C54.7481 124.202 54.7328 124.538 54.5343 124.737L50.3046 128.722C50.213 128.814 50.0755 128.86 49.9534 128.86L49.9381 128.875Z" fill="#231F20"/>
      <path d="M50.488 132.876C50.3659 132.876 50.2284 132.83 50.1216 132.738C49.8925 132.54 49.8772 132.204 50.0757 131.975L54.6567 126.813C54.8552 126.584 55.2064 126.569 55.4202 126.768C55.6492 126.966 55.6645 127.302 55.466 127.531L50.885 132.692C50.7782 132.814 50.6255 132.876 50.4728 132.876H50.488Z" fill="#231F20"/>
      <path d="M51.3429 136.403C51.2208 136.403 51.0986 136.357 50.9917 136.281C50.7474 136.082 50.7016 135.731 50.9001 135.487L55.7864 129.333C55.9849 129.089 56.3361 129.043 56.5805 129.241C56.8248 129.44 56.8706 129.791 56.6721 130.035L51.7858 136.189C51.6789 136.326 51.5109 136.403 51.3429 136.403Z" fill="#231F20"/>
      <path d="M52.6411 139.686C52.519 139.686 52.3968 139.655 52.2899 139.564C52.0303 139.365 51.9693 138.999 52.1525 138.724L57.2526 131.715C57.4511 131.455 57.8176 131.394 58.0924 131.578C58.352 131.776 58.4131 132.143 58.2299 132.417L53.1298 139.426C53.0076 139.594 52.8244 139.671 52.6411 139.671V139.686Z" fill="#231F20"/>
      <path d="M54.5191 142.572C54.3817 142.572 54.2443 142.541 54.1221 142.465C53.7709 142.251 53.6793 141.793 53.8931 141.457L58.7641 133.67C58.9779 133.334 59.436 133.227 59.7719 133.441C60.1232 133.654 60.2148 134.112 60.001 134.448L55.1299 142.236C54.9925 142.465 54.7482 142.587 54.5039 142.587L54.5191 142.572Z" fill="#231F20"/>
      <path d="M56.8554 145.259C56.7333 145.259 56.6111 145.229 56.4889 145.168C56.0767 144.969 55.924 144.465 56.1225 144.053L60.5202 135.288C60.7187 134.876 61.2226 134.723 61.6349 134.922C62.0471 135.12 62.1998 135.624 62.0013 136.036L57.6036 144.801C57.4662 145.091 57.1608 145.259 56.8707 145.259H56.8554Z" fill="#231F20"/>
      <path d="M59.4513 147.672C59.3444 147.672 59.2223 147.657 59.1154 147.611C58.6573 147.428 58.4283 146.893 58.6268 146.435L62.5816 136.739C62.7649 136.281 63.2993 136.067 63.7574 136.25C64.2155 136.433 64.4445 136.968 64.246 137.426L60.2912 147.122C60.1537 147.473 59.8178 147.687 59.4513 147.687V147.672Z" fill="#231F20"/>
      <path d="M62.307 149.703C62.2001 149.703 62.0932 149.687 61.9863 149.657C61.4824 149.489 61.2076 148.924 61.3755 148.42L64.9639 137.96C65.1319 137.456 65.6969 137.182 66.2008 137.35C66.7047 137.517 66.9795 138.082 66.8116 138.586L63.2232 149.046C63.0857 149.458 62.704 149.703 62.307 149.703Z" fill="#231F20"/>
      <path d="M65.5899 151.474C65.4983 151.474 65.3914 151.474 65.2845 151.428C64.689 151.26 64.3378 150.649 64.4905 150.039L67.575 138.846C67.743 138.25 68.369 137.899 68.9645 138.052C69.5601 138.22 69.9113 138.831 69.7586 139.441L66.6741 150.634C66.5366 151.138 66.0786 151.459 65.5899 151.459V151.474Z" fill="#231F20"/>
      <path d="M69.346 152.803C69.2696 152.803 69.178 152.803 69.1017 152.772C68.4451 152.635 68.0328 152.009 68.1702 151.352L70.5828 139.487C70.7202 138.831 71.3463 138.419 72.0029 138.556C72.6595 138.693 73.0718 139.319 72.9344 139.976L70.5217 151.841C70.3996 152.406 69.911 152.803 69.346 152.803Z" fill="#231F20"/>
      <path d="M73.5912 153.688C73.5912 153.688 73.4843 153.688 73.4232 153.688C72.7208 153.597 72.2322 152.955 72.3238 152.268L73.8813 139.9C73.9729 139.197 74.6142 138.708 75.3014 138.8C76.0038 138.892 76.4924 139.533 76.4008 140.22L74.8433 152.589C74.7669 153.23 74.2172 153.703 73.5759 153.703L73.5912 153.688Z" fill="#231F20"/>
      <path d="M78.294 153.994C78.294 153.994 78.2482 153.994 78.233 153.994C77.4847 153.963 76.9045 153.322 76.9503 152.574L77.5458 139.762C77.5764 139.014 78.233 138.418 78.9659 138.48C79.7141 138.51 80.2944 139.151 80.2486 139.9L79.653 152.711C79.6225 153.429 79.027 153.994 78.3093 153.994H78.294Z" fill="#231F20"/>
      <path d="M83.4704 153.703C82.7069 153.703 82.0809 153.108 82.0503 152.344L81.5006 139.289C81.4701 138.495 82.0809 137.838 82.8596 137.808C83.6231 137.777 84.3102 138.388 84.3408 139.167L84.8905 152.222C84.921 153.016 84.3102 153.673 83.5315 153.703C83.5162 153.703 83.4857 153.703 83.4704 153.703Z" fill="#231F20"/>
      <path d="M89.0901 152.711C88.3572 152.711 87.7158 152.177 87.6089 151.428L85.7155 138.174C85.5933 137.35 86.1736 136.586 86.9829 136.479C87.7922 136.357 88.5709 136.937 88.6778 137.747L90.5713 151.001C90.6934 151.825 90.1132 152.589 89.3039 152.696C89.2275 152.696 89.1664 152.711 89.0901 152.711Z" fill="#231F20"/>
      <path d="M95.137 150.924C94.4346 150.924 93.7933 150.451 93.61 149.733L90.2049 136.51C89.9911 135.67 90.495 134.815 91.3348 134.586C92.1747 134.372 93.0298 134.876 93.2588 135.716L96.664 148.939C96.8778 149.779 96.3739 150.634 95.534 150.863C95.3966 150.894 95.2744 150.909 95.137 150.909V150.924Z" fill="#231F20"/>
      <path d="M101.474 148.451C100.756 148.451 100.069 148.023 99.794 147.306L94.7245 134.372C94.358 133.441 94.8161 132.402 95.7475 132.036C96.679 131.669 97.7173 132.127 98.0838 133.059L103.153 145.992C103.52 146.924 103.062 147.962 102.13 148.329C101.917 148.42 101.687 148.451 101.474 148.451Z" fill="#231F20"/>
      <path d="M108.024 144.664C107.475 144.664 106.94 144.374 106.65 143.855L99.7786 131.486C99.351 130.723 99.6259 129.761 100.389 129.348C101.153 128.921 102.115 129.196 102.527 129.959L109.399 142.328C109.826 143.091 109.551 144.053 108.788 144.465C108.543 144.603 108.284 144.664 108.024 144.664Z" fill="#231F20"/>
      <path d="M114.636 140.175C114.163 140.175 113.705 139.961 113.399 139.564L104.665 128.081C104.146 127.409 104.283 126.432 104.955 125.913C105.642 125.393 106.604 125.531 107.123 126.203L115.858 137.686C116.377 138.357 116.239 139.335 115.568 139.854C115.293 140.068 114.957 140.175 114.636 140.175Z" fill="#231F20"/>
      <path d="M121.187 134.815C120.805 134.815 120.439 134.677 120.149 134.387L109.521 124.095C108.926 123.515 108.91 122.568 109.491 121.973C110.071 121.377 111.017 121.362 111.613 121.942L122.241 132.234C122.836 132.814 122.852 133.761 122.271 134.357C121.981 134.662 121.584 134.815 121.187 134.815Z" fill="#231F20"/>
      <path d="M84.8602 64.3142C84.7839 64.3142 84.7228 64.2531 84.7075 64.1767L84.3716 59.6264C84.3716 59.55 84.4327 59.4737 84.509 59.4584C84.5854 59.4431 84.6617 59.5195 84.677 59.5958L85.0129 64.1462C85.0129 64.2226 84.9518 64.2989 84.8755 64.3142H84.8602Z" fill="#231F20"/>
      <path d="M87.502 62.6345C87.3799 62.6345 87.2882 62.5429 87.273 62.4208L86.9065 57.8551C86.9065 57.7329 86.9828 57.6261 87.1203 57.6108C87.2424 57.5955 87.3493 57.6871 87.3646 57.8246L87.7311 62.3902C87.7311 62.5124 87.6547 62.6193 87.5173 62.6345C87.5173 62.6345 87.5173 62.6345 87.502 62.6345Z" fill="#231F20"/>
      <path d="M90.2349 61.0617C90.0822 61.0617 89.9447 60.9395 89.9295 60.7868L89.563 56.1601C89.563 55.9921 89.6699 55.8547 89.8378 55.8394C90.0058 55.8242 90.1432 55.9463 90.1585 56.1143L90.525 60.741C90.525 60.909 90.4181 61.0464 90.2501 61.0617C90.2501 61.0617 90.2349 61.0617 90.2196 61.0617H90.2349Z" fill="#231F20"/>
      <path d="M93.0601 59.6416C92.8463 59.6416 92.6936 59.4584 92.6936 59.2599L92.8158 54.1751C92.8158 53.9613 92.999 53.8239 93.1975 53.8086C93.4113 53.8086 93.564 53.9918 93.564 54.1903L93.4418 59.2752C93.4418 59.4737 93.2739 59.6416 93.0601 59.6416Z" fill="#231F20"/>
      <path d="M95.9614 58.2979C95.9614 58.2979 95.9309 58.2979 95.9156 58.2979C95.7018 58.2674 95.5338 58.0842 95.5644 57.8551L96.1599 52.358C96.1904 52.1442 96.389 51.9915 96.6027 52.0068C96.8165 52.0373 96.9845 52.2206 96.9539 52.4496L96.3584 57.9467C96.3431 58.1452 96.1599 58.2979 95.9614 58.2979Z" fill="#231F20"/>
      <path d="M98.9543 57.1528C98.9543 57.1528 98.8932 57.1528 98.8626 57.1528C98.6336 57.1069 98.4962 56.8626 98.542 56.6336L99.9773 50.4341C100.023 50.205 100.267 50.0676 100.497 50.1134C100.726 50.1592 100.863 50.4035 100.817 50.6326L99.3818 56.8321C99.336 57.0306 99.1528 57.168 98.9695 57.168L98.9543 57.1528Z" fill="#231F20"/>
      <path d="M101.993 56.2212C101.993 56.2212 101.886 56.2212 101.84 56.1907C101.596 56.0991 101.489 55.8395 101.566 55.6104L104.085 48.6932C104.177 48.4489 104.436 48.3267 104.665 48.4184C104.91 48.51 105.017 48.7696 104.94 48.9986L102.421 55.9158C102.36 56.0991 102.176 56.2212 101.993 56.2212Z" fill="#231F20"/>
      <path d="M105.093 55.5035C105.093 55.5035 104.955 55.4882 104.879 55.4577C104.635 55.3355 104.543 55.0454 104.65 54.8164L108.376 47.1662C108.498 46.9219 108.788 46.8303 109.017 46.9372C109.261 47.0593 109.353 47.3495 109.246 47.5785L105.52 55.2287C105.429 55.3966 105.261 55.5035 105.077 55.5035H105.093Z" fill="#231F20"/>
      <path d="M108.208 55.0455C108.116 55.0455 108.025 55.0149 107.948 54.9691C107.704 54.8164 107.627 54.511 107.78 54.2667L112.85 45.8836C113.002 45.6393 113.308 45.5629 113.552 45.7156C113.796 45.8683 113.873 46.1737 113.72 46.418L108.651 54.8011C108.559 54.9538 108.391 55.0455 108.208 55.0455Z" fill="#231F20"/>
      <path d="M111.338 54.908C111.231 54.908 111.124 54.8775 111.017 54.8012C110.773 54.6332 110.727 54.282 110.895 54.0377L117.446 44.998C117.614 44.7536 117.965 44.7078 118.209 44.8758C118.454 45.0438 118.499 45.395 118.331 45.6393L111.796 54.679C111.689 54.8317 111.521 54.908 111.353 54.908H111.338Z" fill="#231F20"/>
      <path d="M114.438 55.0913C114.316 55.0913 114.178 55.0455 114.071 54.9539C113.827 54.7554 113.797 54.3889 113.995 54.1446L121.844 44.7384C122.042 44.4941 122.409 44.4635 122.653 44.662C122.897 44.8605 122.928 45.227 122.729 45.4713L114.881 54.8775C114.774 55.0149 114.606 55.076 114.438 55.076V55.0913Z" fill="#231F20"/>
      <path d="M117.461 55.6258C117.308 55.6258 117.171 55.58 117.049 55.4731C116.805 55.244 116.789 54.8623 117.018 54.6333L126.119 44.7995C126.348 44.5552 126.715 44.5399 126.959 44.769C127.203 44.998 127.219 45.3798 126.99 45.6088L117.889 55.4426C117.767 55.5647 117.614 55.6411 117.446 55.6411L117.461 55.6258Z" fill="#231F20"/>
      <path d="M120.378 56.5878C120.21 56.5878 120.057 56.5267 119.935 56.4045C119.69 56.1602 119.69 55.7632 119.935 55.5189L129.982 45.7462C130.227 45.5019 130.624 45.5019 130.868 45.7462C131.112 45.9905 131.112 46.3876 130.868 46.6319L120.82 56.4045C120.698 56.5267 120.545 56.5878 120.378 56.5878Z" fill="#231F20"/>
      <path d="M123.157 57.9621C122.973 57.9621 122.79 57.8857 122.668 57.733C122.424 57.4582 122.454 57.0459 122.729 56.8016L133.983 46.922C134.258 46.6777 134.67 46.7082 134.914 46.9831C135.159 47.2579 135.128 47.6702 134.853 47.9145L123.6 57.7941C123.477 57.901 123.325 57.9621 123.172 57.9621H123.157Z" fill="#231F20"/>
      <path d="M125.692 59.825C125.493 59.825 125.295 59.7333 125.157 59.5654C124.928 59.2752 124.974 58.8324 125.279 58.6034L137.785 48.7849C138.075 48.5559 138.518 48.6017 138.747 48.9071C138.976 49.1972 138.931 49.64 138.625 49.8691L126.119 59.6875C125.997 59.7791 125.844 59.8402 125.692 59.8402V59.825Z" fill="#231F20"/>
      <path d="M127.982 62.1764C127.753 62.1764 127.539 62.0695 127.402 61.871C127.173 61.5504 127.249 61.1075 127.585 60.8785L141.297 51.2891C141.618 51.06 142.061 51.1364 142.29 51.4723C142.519 51.793 142.443 52.2358 142.107 52.4649L128.394 62.0543C128.272 62.1459 128.135 62.1764 127.982 62.1764Z" fill="#231F20"/>
      <path d="M129.921 65.0472C129.677 65.0472 129.433 64.925 129.295 64.6959C129.081 64.3447 129.188 63.8867 129.54 63.6729L144.458 54.5263C144.809 54.3125 145.267 54.4194 145.481 54.7706C145.695 55.1218 145.588 55.5799 145.237 55.7937L130.318 64.9403C130.196 65.0166 130.059 65.0472 129.937 65.0472H129.921Z" fill="#231F20"/>
      <path d="M131.448 68.4371C131.173 68.4371 130.899 68.2844 130.761 68.0248C130.563 67.6431 130.7 67.185 131.082 66.9865L147.1 58.5423C147.482 58.3438 147.94 58.4812 148.138 58.8629C148.337 59.2447 148.199 59.7028 147.817 59.9013L131.799 68.3455C131.677 68.4065 131.555 68.4371 131.448 68.4371Z" fill="#231F20"/>
      <path d="M132.487 72.3156C132.181 72.3156 131.891 72.1324 131.754 71.8423C131.571 71.4452 131.754 70.9719 132.166 70.7886L149.146 63.2912C149.543 63.1232 150.017 63.2912 150.2 63.7035C150.383 64.1005 150.2 64.5738 149.787 64.7571L132.808 72.2545C132.701 72.3003 132.594 72.3156 132.487 72.3156Z" fill="#231F20"/>
      <path d="M133.006 76.698C132.67 76.698 132.349 76.4842 132.227 76.1482C132.074 75.7207 132.303 75.2473 132.731 75.0946L150.459 68.8188C150.886 68.6661 151.36 68.8951 151.513 69.3227C151.665 69.7502 151.436 70.2236 151.009 70.3763L133.28 76.6522C133.189 76.6827 133.097 76.698 133.006 76.698Z" fill="#231F20"/>
      <path d="M132.914 81.4928C132.533 81.4928 132.181 81.2332 132.09 80.8515C131.968 80.3934 132.243 79.92 132.701 79.8131L150.933 75.0184C151.391 74.8962 151.864 75.1711 151.971 75.6292C152.093 76.0873 151.818 76.5607 151.36 76.6675L133.128 81.4622C133.128 81.4622 132.975 81.4928 132.914 81.4928Z" fill="#231F20"/>
      <path d="M132.197 86.6539C131.769 86.6539 131.403 86.3485 131.326 85.9209C131.25 85.4323 131.57 84.9895 132.059 84.8978L150.49 81.8286C150.978 81.7523 151.421 82.0729 151.513 82.5616C151.604 83.0502 151.268 83.493 150.78 83.5846L132.349 86.6539C132.349 86.6539 132.258 86.6539 132.197 86.6539Z" fill="#231F20"/>
      <path d="M130.822 92.2885C130.227 92.2885 129.723 91.8304 129.692 91.2196C129.647 90.5936 130.135 90.0591 130.746 90.0133L149.024 88.8833C149.635 88.8375 150.184 89.3262 150.23 89.937C150.276 90.563 149.787 91.0975 149.177 91.1433L130.899 92.2732C130.899 92.2732 130.853 92.2732 130.822 92.2732V92.2885Z" fill="#231F20"/>
      <path d="M146.581 98.8545C146.581 98.8545 146.535 98.8545 146.52 98.8545L128.761 97.9384C128.089 97.9078 127.585 97.3428 127.616 96.671C127.646 95.9991 128.226 95.4952 128.883 95.5257L146.642 96.4419C147.314 96.4725 147.817 97.0374 147.787 97.7093C147.756 98.3506 147.222 98.8545 146.581 98.8545Z" fill="#231F20"/>
      <path d="M143.069 106.703C142.993 106.703 142.916 106.703 142.825 106.688L125.936 103.664C125.203 103.527 124.715 102.825 124.852 102.092C124.989 101.359 125.677 100.87 126.425 101.007L143.313 104.031C144.046 104.168 144.535 104.871 144.397 105.604C144.275 106.26 143.71 106.718 143.069 106.718V106.703Z" fill="#231F20"/>
      <path d="M138.655 114.353C138.518 114.353 138.365 114.338 138.228 114.277L122.561 109.192C121.828 108.948 121.431 108.169 121.66 107.436C121.905 106.703 122.683 106.306 123.416 106.535L139.083 111.62C139.816 111.864 140.213 112.643 139.984 113.376C139.785 113.971 139.251 114.338 138.655 114.338V114.353Z" fill="#231F20"/>
      <path d="M133.448 121.667C133.235 121.667 133.021 121.622 132.822 121.515L118.637 114.475C117.934 114.124 117.644 113.269 117.995 112.567C118.346 111.864 119.202 111.574 119.904 111.925L134.09 118.965C134.792 119.316 135.082 120.171 134.731 120.873C134.487 121.377 133.983 121.667 133.448 121.667Z" fill="#231F20"/>
      <path d="M126.928 129.287C126.608 129.287 126.287 129.18 126.012 128.967L114.209 119.362C113.583 118.858 113.491 117.942 113.995 117.316C114.499 116.69 115.415 116.598 116.041 117.102L127.845 126.707C128.471 127.211 128.562 128.127 128.058 128.753C127.768 129.104 127.356 129.287 126.928 129.287Z" fill="#231F20"/>
    </svg>
  {% when 'sewing' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 90 90" fill="none">
      <g clip-path="url(#clip0_18733_9317)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M44.9999 0.000137329C69.8526 0.000137329 89.9999 20.1474 89.9999 45.0001C89.9999 69.8528 69.8526 90 44.9999 90C20.1472 90 0 69.8528 0 45.0001C0 20.1474 20.1472 0.000137329 44.9999 0.000137329Z" fill="#333333"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.3916 54.2464H64.139V61.6127H20.3916V54.2464Z" fill="#FFFFFE"/>
        <path d="M26.9207 42.904C26.9207 42.6156 26.686 42.381 26.3978 42.381C26.1097 42.381 25.875 42.6156 25.875 42.904V49.5429C25.875 49.8312 26.1097 50.0658 26.3978 50.0658C26.686 50.0658 26.9207 49.8312 26.9207 49.5429V42.904Z" fill="#FFFFFE"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M57.6602 32.9602H62.9376V39.8157H57.6602V32.9602Z" fill="#FFFFFE"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M59.0208 37.5129V54.5322H45.1783C46.7698 50.591 47.8156 46.0274 48.1897 41.347C39.5707 36.3835 29.5159 37.7964 29.5809 39.9507L29.5972 41.4678C29.5972 42.258 28.9512 42.9039 28.1611 42.9039H24.5034C23.7134 42.9039 23.0674 42.258 23.0674 41.4678V31.413C23.0674 30.6228 23.7134 29.9769 24.5034 29.9769H28.1611C28.4121 29.9769 28.6467 30.042 28.8536 30.1536C28.8536 30.151 39.2363 35.0497 47.855 30.0862H53.8621H57.5846C58.3749 30.0862 59.0208 30.7321 59.0208 31.522V37.5129Z" fill="#FFFFFE"/>
        <path d="M63.9849 29.4332C63.9849 28.8546 63.5154 28.3851 62.9368 28.3851C62.3582 28.3851 61.8887 28.8546 61.8887 29.4332V43.3411C61.8887 43.9198 62.3582 44.3889 62.9368 44.3889C63.5154 44.3889 63.9849 43.9198 63.9849 43.3411V29.4332Z" fill="#FFFFFE"/>
        <path d="M68.5604 32.6841C69.1391 32.6841 69.6084 32.2144 69.6084 31.6357C69.6084 31.0571 69.1391 30.5878 68.5604 30.5878H62.9366C62.3584 30.5878 61.8887 31.0571 61.8887 31.6357C61.8887 32.2144 62.3584 32.6841 62.9366 32.6841H68.5604Z" fill="#FFFFFE"/>
      </g>
      <defs>
        <clipPath id="clip0_18733_9317">
          <rect width="90" height="90" fill="white"/>
        </clipPath>
      </defs>
    </svg>
{% endcase %}
