<div class="filter__layout">
  <div class="column__switch-lg column__switcher">
    <div class="column__switch-lg-wrapper">
      <button data-column="2" lg__two="">2</button>
      <button data-column="4" lg__four="">4</button>
      <button data-column="8" lg__eight="">8</button>
    </div>
  </div>
</div>
