{% if option.name == 'Size' or option.name == 'size' %}
  {% if product.selected_or_first_available_variant.metafields.custom.model_info != blank %}
    <div class="p-model-info {{ class }} {% if block.settings.enable_mb %}mb{% endif %} {% if block.settings.enable_bb %}bb{% endif %}">
      {% assign size_value = '' %}
      {% for option in product.options_with_values %}
        {% if option.name == 'Size' or option.name == 'size' %}
          {% assign size_value = product.selected_or_first_available_variant.options[forloop.index0] %}
        {% endif %}
      {% endfor %}
      {% if size_value != '' %}
        <p>Model is {{ product.selected_or_first_available_variant.metafields.custom.model_info }} tall and wearing a size {{ size_value }}.</p>
      {% endif %}
    </div>
  {% endif %}
{% endif %}