<div data-tab="men" class="size-guide-tab-content--custom">
  <!-- Chart start -->
  <div class="--single-chart" id="men-body-measurement">
    <div class="--chart-measurements">
      <div class="--measurement-heading --measurement-row men--top">
        <div>Size</div>
        <div>Chest</div>
        <div>Waist</div>
        <div>Sleeve</div>
        <div>Neck</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>S</div>
        <div>34-36</div>
        <div>30-32</div>
        <div>32-32 1/2</div>
        <div>14-14 1/2</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>M</div>
        <div>38-40</div>
        <div>34-36</div>
        <div>34-34 1/2</div>
        <div>15-15 1/2</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>L</div>
        <div>42-44</div>
        <div>38-40</div>
        <div>35-35 1/2</div>
        <div>16-16 1/2</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XL</div>
        <div>46-48</div>
        <div>40-42</div>
        <div>35 1/2-36</div>
        <div>17-17 1/2</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XXL</div>
        <div>50-52</div>
        <div>44-46</div>
        <div>36-36 1/2</div>
        <div>18-18 1/2</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XXXL</div>
        <div>54-56</div>
        <div>50-52</div>
        <div>36 1/2-37</div>
        <div>19-19 1/2</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XXXXL</div>
        <div>58-60</div>
        <div>54-56</div>
        <div>37-37 1/2</div>
        <div>20-20 1/2</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XXXXXL</div>
        <div>62-64</div>
        <div>58-60</div>
        <div>37 1/2</div>
        <div>21-22</div>
      </div>
    </div>
  </div>
  <!-- Chart End -->
</div>
