<div data-tab="men" class="size-guide-tab-content--custom">
  <!-- Chart start -->
  <div class="--single-chart" id="men-body-measurement">
    <div class="--chart-measurements">
      <div class="--measurement-heading --measurement-row  women--top">
        <div>Size</div>
        <div>BUST</div>
        <div>WAIST</div>
      </div>
      <div class="--measurement-row   women--top --only-values">
        <div>XS</div>
        <div>32-33</div>
        <div>28-30</div>
      </div>
      <div class="--measurement-row  women--top --only-values">
        <div>S</div>
        <div>34-35</div>
        <div>31-32</div>
      </div>
      <div class="--measurement-row  women--top --only-values">
        <div>M</div>
        <div>36-37</div>
        <div>33-34</div>
      </div>
      <div class="--measurement-row  women--top --only-values">
        <div>L</div>
        <div>39-40</div>
        <div>36-37</div>
      </div>
      <div class="--measurement-row  women--top --only-values">
        <div>XL</div>
        <div>42-43</div>
        <div>38-40</div>
      </div>
      <div class="--measurement-row  women--top --only-values">
        <div>XXL</div>
        <div>46-48</div>
        <div>42-44</div>
      </div>
      <div class="--measurement-row  women--top --only-values">
        <div>XXXL</div>
        <div>50-52</div>
        <div>46-48</div>
      </div>
    </div>
  </div>
  <!-- Chart End -->
</div>
