<div data-tab="men" class="size-guide-tab-content--custom">
  <!-- Chart start -->
  <div class="--single-chart" id="men-body-measurement">
    <div class="--chart-measurements">
      <div class="--measurement-heading --measurement-row  men--bottom">
        <div>Size</div>
        <div>WAIST</div>
        <div>INSEAM</div>
        <div>INSEAM</div>
        <div>INSEAM</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>S</div>
        <div>28-30</div>
        <div>30</div>
        <div>32</div>
        <div>34</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>M</div>
        <div>31-34</div>
        <div>30</div>
        <div>32</div>
        <div>34</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>L</div>
        <div>35-38</div>
        <div>30</div>
        <div>32</div>
        <div>34</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XL</div>
        <div>40-42</div>
        <div>30</div>
        <div>32</div>
        <div>34</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XXL</div>
        <div>43-45</div>
        <div>30</div>
        <div>32</div>
        <div>34</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XXXL</div>
        <div>46-48</div>
        <div>30</div>
        <div>32</div>
        <div>34</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XXXXL</div>
        <div>54-56</div>
        <div>30</div>
        <div>32</div>
        <div>34</div>
      </div>
      <div class="--measurement-row --only-values">
        <div>XXXXXL</div>
        <div>56-60</div>
        <div>30</div>
        <div>32</div>
        <div>34</div>
      </div>
    </div>
  </div>
  <!-- Chart End -->
</div>
