.product-card__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card__media {
  position: relative;
  overflow: hidden;
}
.product-card__image-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product-card__image-link.has-multiple-media-reverse{
  position: static;
}
.product-card .product-card__gallery.has-multiple-media-reverse{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 990px) {
  .product-card__image-link:not(.has-multiple-media):not(.has-multiple-media-reverse) {
    display: none;
  }

  .product-card .product-card__image-link.has-multiple-media {
    transition: all 0.3s;
  }
  .product-card .product-card__gallery.has-multiple-media {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .product-card .product-card__image-link.has-multiple-media-reverse {
    opacity: 0;
    visibility: hidden;
    /* transition: all 0.3s; */
  }
  .product-card:hover .product-card__image-link.has-multiple-media {
    opacity: 0;
    visibility: hidden;
  }
  .product-card:hover .product-card__gallery.has-multiple-media {
    opacity: 1;
    visibility: visible;
  }
  .product-card:hover .product-card__image-link.has-multiple-media-reverse {
    opacity: 1;
    visibility: visible;
  }
  .product-card:hover .product-card__gallery.has-multiple-media-reverse {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 989px) {
  .product-card__image-link {
    display: none;
  }
  .product-card__image-link.has-multiple-media-reverse {
    display: block;
  }
}

.--custom-badge-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: flex-start;
  /* position: absolute;
  top: 5px;
  left: 5px; */
  gap: 4px;
  z-index: 2;
  /* flex-direction: column; */

  span.--single-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1;
    /* background-color: #fff; */
    color: #fff;
    width: max-content;
    /* background-color: #00000044; */
    background-color: #000000;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    @media (max-width: 768px) {
      font-size: 10px;
      padding: 4px 8px;
    }
    /* @media (min-width: 1800px) {
      font-size: 14px;
      padding: 10px 15px;
    } */

    a {
      color: #fff;
      text-decoration: none;
      /* font-size: 10px;
      @media (max-width: 768px) {
        font-size: 8px;
      } */
    }
  }
}
.product-card__gallery {
  position: relative;
  overflow: hidden;
  aspect-ratio: 173/236;
}
.product-card__gallery .swiper-slide {
  width: 100% !important;
}
.product-card__gallery.loading {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #cccccc, #e1e1e1, #cccccc);
  background-size: 400% 100%;
  animation: gradient 4s infinite linear;
}
.product-card__gallery.loading .swiper {
  opacity: 0;
}
@keyframes gradient {
  0% {
    background-position: 400% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.product-card__media .swiper-slide {
  /* width: 100% !important; */
  /* transform: translateX(3px); */
}
.product-card__media .swiper-slide a {
  display: block;
  width: 102%;
  height: 100%;
  overflow: hidden;
}
.product-card__media img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 173/236;
  object-fit: cover;
  /* background: #eaeae8; */
}

.product-card {
  .product-card__gallery {
    .swiper-button-prev,
    .swiper-button-next {
      /* width: 36px;
      height: 36px;
      padding: 0;
      margin: 0;
      opacity: 0;
      z-index: 10;
      visibility: hidden;
      transition: all 0.3s ease; */
      width: 30px;
      height: 30px;
      display: none;
      background: #ffffff1a;
      line-height: 1;
      position: absolute;
      top: calc(50% - 25px);
      z-index: 1;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      /* box-shadow: 0 1px 2px -1px #0000001a,0 1px 3px #0000001a; */
      cursor: pointer;
      z-index: 10;
      backdrop-filter: blur(5px);
      box-sizing: border-box;
    }

    .swiper-button-disabled {
      display: none;
    }
    .swiper-button-prev svg,
    .swiper-button-next svg {
      width: 18px;
      height: 18px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      content: none;
    }
  }

  &:hover {
    .swiper-button-prev:not(.swiper-button-lock),
    .swiper-button-next:not(.swiper-button-lock) {
      opacity: 1;
      visibility: visible;
      display: flex;
    }
  }
}
.product-card {
  .product-card__gallery {
    .swiper-button-prev.swiper-button-lock,
    .swiper-button-next.swiper-button-lock {
      display: none !important;
    }
  }
}
.size-selector {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(31, 41, 55, 0.5); */
  background-color: #0000004d;
  backdrop-filter: blur(8px);
  padding: 8px 12px;
  gap: 8px;
  transition: all 0.5s ease 0.2s;
  @media (max-width: 768px) {
    bottom: 0;
  }
}
.product-card:hover .size-selector {
  bottom: 0;
}
.size-btn {
  padding: 8px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  @media (max-width: 768px) {
    padding: 0px;
    font-size: 14px;
    line-height: 16px;
  }
}
.size-btn:hover {
  text-decoration: underline;
}
.size-btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: line-through;
}

.product-card__details {
  position: relative;
  padding: 10px;
  display: flex;
  gap: var(--Spacing-Container-xxs);
  flex-direction: column;
  .product-card__header {
    /* margin: 0 0 10px; */
    margin: 0;
    .product-card__title {
      /* font-size: 20px;
      line-height: 24px; */
      font-size: var(--Font-Size-Paragraph-Regular);
      line-height: var(--Line-Height-Paragraph-Regular);
      color: #10100f;
      margin: 0;
      a {
        color: inherit;
        font-weight: 600;
      }
    }
  }
  .product-card__pricing {
    /* margin: 0 0 10px; */
    margin: 0;
    .price-wrapper {
      font-size: 16px;
      line-height: 20px;
      color: #10100f;
      margin: 0;
      .price-regular {
        display: flex;
        align-items: center;
        gap: 10px;
        .price-compare-at {
          opacity: 0.7;
          text-decoration: line-through;
        }
      }
    }
  }
}
.--price-review-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.color-swatches {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  @media(max-width: 600px){
    gap: 8px;

  }
}

.color-swatch {
  cursor: pointer;
  width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
  border: 1px solid #ddd;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 0.2s ease;
  position: relative;
  box-sizing: border-box;
}

.color-swatch:after {
  position: absolute;
  content: "";
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 1px solid transparent !important;
  border-radius: 99px;
  transition: all 0.1s ease-in;
}
.color-swatch:hover:after {
  border: 1px solid #000000 !important;
}
.color-swatch--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.color-swatch--selected {
  border: 2px solid #000;
}
.color-swatch-more {
  color: #10100f;
  font-size: 14px;
  text-decoration: underline;
}
.product-card__gallery .swiper-pagination {
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  padding: 0 12px;
  .swiper-pagination-bullet {
    border: 1px solid transparent;
    width: 6px;
    height: 3px;
    background: #000;
    border-radius: 0;
    transition: all 0.25s ease 0.15s;
    margin: 0 2px;
  }
  .swiper-pagination-bullet-active {
    border: 1px solid #00000042 !important;
    background: #000 !important;
    width: 12px !important;
    transition: all 0.25s ease 0.15s;
  }
}
@media screen and (min-width: 769px) {
  .product-card__gallery .swiper-pagination {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .size-selector {
    display: none;
  }
}

.product-card {
  .product-card__color-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
  }
  .yotpo-widget-instance {
    margin-top: 0 !important;
    div#yotpo-star-rating-reviews-summary {
      display: none !important;
    }
    .yotpo-reviews-star-ratings-widget {
      margin: 0 !important;
    }
    .yotpo-sr-bottom-line-summary {
      align-items: center !important;
      flex-direction: row !important;
      width: 100%;
      justify-content: center !important;
      gap: 0px !important;
      span {
        height: auto !important;
        svg.star-container:not(:first-child) {
          display: none!important;
        }
      }
      
      .star-container:last-child {
        margin-inline-end: 4px !important;
      }
      @media (max-width: 768px) {
        /* flex-direction: column !important; */
        gap: 0px !important;
      }
    }
    .yotpo-sr-bottom-line-text {
      font-size: 14px !important;
      padding: 0 !important;
      line-height: normal !important;
      font-weight: 500 !important;
      font-family: var(--font-family-Body) !important;
      @media (max-width: 768px) {
        padding-top: 0 !important;
        line-height: normal !important;
      }
    }
  }
}




