.product-card__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card__media {
  position: relative;
  overflow: hidden;
}
.product-card__media img{
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 173/236;
  object-fit: cover;
  background: #eaeae8;
}
.product-card__image-link{
  /* display: block; */
  display: none;
  transition: all 0.3s ease;
}
/*
.product-card__primary-image{
  transition: all 0.3s ease;
}
.product-card__secondary-image{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

 .product-card__container--hoverable:hover {
  .product-card__media {
    .product-card__primary-image {
      visibility: hidden;
      opacity: 0;
    }
    .product-card__secondary-image {
      visibility: visible;
      opacity: 1;
    }
  }
} */

/*
.product-card__gallery {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.product-card__container--hoverable:hover {
  .product-card__media {
    .product-card__image-link {
      visibility: hidden;
      opacity: 0;
    }
    .product-card__gallery {
      visibility: visible;
      opacity: 1;
    }
  }
}
*/
.product-card {
  .product-card__gallery {
    .swiper-button-prev,
    .swiper-button-next {
      /* width: 36px;
      height: 36px;
      padding: 0;
      margin: 0;
      opacity: 0;
      z-index: 10;
      visibility: hidden;
      transition: all 0.3s ease; */
         width: 30px;
        height: 30px;
        display: none;
        background: #ffffff1a;
        line-height: 1;
        position: absolute;
        top: calc(50% - 25px);
        z-index: 1;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        /* box-shadow: 0 1px 2px -1px #0000001a,0 1px 3px #0000001a; */
        cursor: pointer;
        z-index: 2;
        backdrop-filter: blur(5px);
        box-sizing: border-box;
    }
    .swiper-button-disabled {
        display: none;
    }
    .swiper-button-prev svg,
    .swiper-button-next svg {
      width: 20px;
      height: 20px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      content: none;
    }
  }

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      visibility: visible;
      display: flex;
    }
  }
}



.size-selector {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(31, 41, 55, 0.5); */
  background-color: #0000004d;
  backdrop-filter: blur(8px);
  padding: 8px 12px;
  gap: 8px;
  transition: all 0.5s ease 0.2s;
}
.product-card:hover .size-selector{
  bottom: 0;
}
.size-btn {
  padding: 8px;
  font-size: 14px;
  line-height: 18px;
  color: #FFF;
  transition: .3s ease;
}
.size-btn:hover{
  text-decoration: underline;
}
.size-btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: line-through;
}

.product-card__details{
  padding: 10px 10px 0 10px;
  .product-card__header{
     margin: 0 0 10px;
    .product-card__title{
      font-size: 20px;
      line-height: 24px;
      color: #10100f;
      margin: 0;
      a{
        color: inherit;
      }
    }
  }
  .product-card__pricing{
     margin: 0 0 10px;
    .price-wrapper{
      font-size: 16px;
      line-height: 20px;
      color: #10100f;
      margin: 0;
      .price-regular{
        display: flex;
        align-items: center;
        gap: 10px;
        .price-compare-at{
          opacity: 0.7;
          text-decoration: line-through;
        }
      }
    }
  }
}


.color-swatches {
  display: flex;
  gap: 10px;
}
.color-swatch {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  box-sizing: border-box;
}
.color-swatch--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.color-swatch--selected {
  border: 2px solid #000;
}
.color-swatch-more {
  color: #10100f;
  font-size: 14px;
  text-decoration: underline;
}

