/* kdfkd=--------------- */

.country-selector {
  position: relative;
  /* display: inline-block; */
}

.country-currency {
  font-size: var(--Font-Size-Paragraph-Small);
  @media(max-width: 1465px){
    font-size: 13px;
  }
}
.country-button {
  color: var(--Content-Base-main);
  font-family: var(--font-family-Body);
  font-size: var(--Font-Size-Paragraph-Small);
  font-weight: 600;
  line-height: var(--Line-Height-Paragraph-Medium);
  display: flex;
  align-items: center;
  gap: 5px;
  /* background: #fff; */
  background: transparent;
  cursor: pointer;
  padding: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  @media(max-width: 1465px){
    font-size: 13px;
  }
}
.country-button:hover {
  color: initial;
  background-color: initial;
}
.country-flag {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.country-list {
  position: absolute;
  /* top: 100%; */
  bottom: 105%;
  left: 0;
  width: 190px;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  /* max-height: 250px; */
  max-height: 225px;
  overflow-y: auto;
  z-index: 100;
}

.country-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
}
.country-list li * {
  color: var(--Content-Base-main);
  font-family: var(--font-family-Body);
  font-size: var(--Font-Size-Paragraph-Small);
  line-height: var(--Line-Height-Paragraph-Medium);
}

.country-list li:hover {
  background: #f0f0f0;
}
