.predictive-search {
  /* max-height: 70vh; */
  z-index: 3 !important;
  @media screen and (max-width: 1249px) {
    /* max-height: 90vh; */
  }
}
.template-search {
  .template-search__search {
    max-width: 100%;
  }
  #main-search-filters {
    margin-bottom: 24px;
  }
}
