/* comment------------- */
/* comment------------- */
/* comment------------- */
/* comment------------- */
/* comment------------- */


.mb{
  margin: 0 0 16px !important;
  @media screen and (max-width: 989px){
    margin: 0 0 12px !important;
  }
}
.bb{
  padding: 0 0 16px !important;
  border-bottom: 1px solid #C6C8CA;
  @media screen and (max-width: 989px){
    padding 0 0 12px !important;
  }
}
product-info-form.mb{
    display: block;
    margin-top: 16px!important;
}

.p-info-container .yotpo-star-rating-reviews-summary-link {
  display: none !important;
}
.p-info-wrapper {
  position: relative;
  @media screen and (min-width: 989px){
    display: grid;
    grid-template-columns: 1fr 500px;
  }
}
.p-info-sliders {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  .swiper-slide {
    width: max-content;
  }
}
.p-info-sliders .p-info-thumb[data-single-slide="true"] .swiper-slide{
  width: 100%;
}
.p-info-sliders .p-info-thumb[data-single-slide="true"] .p-info-thumb-pic img{
  width: 100%;
}
.p-info-thumb {
  /* max-width: 100vw;
  width: 100vw; */
  width: 100%;
  overflow: hidden;

  .swiper-wrapper {
    transition-timing-function: linear;
  }
}
.p-info-thumb-pic {
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    @media (min-width: 1201px) {
      width: auto;
      /* height: calc(100vh - 106px); */
      height: calc(100vh - 44px);
      max-height: 100svh;
      object-fit: contain;
      aspect-ratio: unset;
    }
  }
}
p.--custom-style {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    letter-spacing: 0;
}
.p-info-content {
  display: flex !important;
  z-index: 1;
  overflow: hidden;
  @media (min-width: 1201px) {
    position: static;
    width: 100%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    /* background: #f0f0f0; */
    height: calc(100vh - 44px);
    max-height: 100svh;
  }
  @media (max-width: 1200px) {
    position: static;
    width: 100%;
  }
}

/* .info-bg {
  background-color: hsla(0, 0%, 89%, 0.52);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  box-sizing: border-box;
  padding: 15px 15px;
  width: 100%;

  @media (max-width: 768px) {
    background: transparent;
    padding-inline: 0;
    border-bottom: 1px solid #8080802b;
    border-radius: 0px;
  }
} */

/* .p-info-top.info-bg {
  gap: 10px;
  display: flex;
  flex-direction: column;
} */
 
.p-info-conent-wrapper {
  display: flex;
  /* width: 400px; */
  width: 100%;
  padding-inline-start: 24px;
  padding-inline-end: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  height: auto;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  @media (min-width: 1201px){
    height: 100%;
  }
  @media (max-width: 1200px) {
    width: 100%;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
  }
}
.p-info-container product-variant-picker {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.p-info-conent-wrapper::-webkit-scrollbar {
  /* display: none; */
}


/* Chrome, Edge, Safari */
.p-info-conent-wrapper::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5; */
}

.p-info-conent-wrapper::-webkit-scrollbar-thumb {
  background-color: #e3e3e36b;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.price__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 16px; */
  gap: 8px;
  flex-wrap: wrap;
}
.p-info-title {
  color: #000;
  font-family: var(--font-family-Title, Archivo);
  line-height: 36px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  /* line-height: var(--Line-Height-Heading-H3, 28px); */
  margin: 0;
  /* width: 100%; */
  min-height: max-content;
}
.p-info-price-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 16px;
  padding: 0;
  margin: 0px 0 0 0;
}
.p-info-price {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
.p-info-rgular-price {
  margin: 0;
  color: #1f2937;
  font-family: var(--font-family-Title, Archivo);
  font-size: var(--Font-Size-Heading-H4, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-Height-Heading-H4, 24px);
  min-width: max-content;
}
.p-info-compare-price {
  margin: 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  text-decoration: line-through;
}
.p-info-discount {
  color: #7f1d1d;
  font-family: var(--font-family-Body);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.p-short-desc p {
  margin: 0;
  color: #000;
  font-family: var(--font-family-Body);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.p-info-short-desc {
  margin: 0;
  color: #000;
  font-family: var(--font-family-Body);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.p-collections ul {
  display: flex;
  align-items: center;
  gap: 12px;
}
.p-collections ul li a {
  display: inline-block;
  margin: 0;
  color: #000;
  font-family: var(--font-family-Body);
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  border-radius: 50px;
  transition: all 0.3s;
}
.p-collections ul li a.active {
  background-color: #000;
  color: #fff;
}
.p-collections ul li a:not(.active):hover {
  background-color: #000;
  color: #fff;
}
.p-model-info {
  margin: 12px 0 0;
}
.p-model-info p {
  color: #000;
  font-family: var(--font-family-Body);
  font-size: var(--Font-Size-Paragraph-Small);
  line-height: 16px;
  margin: 0;
}
.p-delivery-date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 0 0 12px;
}
.p-delivery-date svg {
  display: block;
  width: 20px;
  height: 20px;
}
.p-delivery-date p {
  color: #000;
  font-family: var(--font-family-Body);
  font-size: var(--Font-Size-Paragraph-Tiny);
  line-height: var(--Line-Height-Paragraph-Tiny);
  margin: 0;
}
.p-warranty-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 8px 0 0;
}
.warranty-item {
  display: flex;
  align-items: center;
  gap: 4px;
}
.warranty-item img {
  display: block;
  width: 16px;
  height: auto;
}
.warranty-item span {
  color: #000;
  font-family: var(--font-family-Body);
  font-size: var(--Font-Size-Paragraph-Tiny);
  line-height: var(--Line-Height-Paragraph-Tiny);
}

/* Action Popup */

.custom-overlay {
  opacity: 0;
}
.custom-overlay.active {
  opacity: 1;
}
.action__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  transform-origin: center center;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
}
.action__popup.active {
  max-height: 700px;
}

.action__popup-wrapper {
}

.popup__video {
  width: 100%;
}
.action-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action__popup-close [close-action-popup] {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  background: #000;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.action__popup-close [close-action-popup] svg {
  width: 16px;
  height: 16px;
}
.action__popup-close [close-action-popup] svg * {
  stroke: #fff;
}
.action__popup-close [close-action-popup].visible {
  opacity: 1;
  transform: translateY(0);
}


[open-action-popup] {
  position: absolute;
  right: 40px;
  bottom: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  border-radius: 52px;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
  font-family: var(--font-family-Body);
  font-size: var(--Font-Size-Paragraph-Tiny);
  line-height: var(--Line-Height-Paragraph-Tiny);
  padding: 10px 16px;
  cursor: pointer;
  width: max-content;
}

body.overflow-hidden {
  overflow: hidden;
}

@media screen and (min-width: 1201px) {
  .mbl-model {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .desktop-model {
    display: none !important;
  }
  [open-action-popup].see__action-with-model {
    bottom: 60px;
  }
  [open-action-popup] {
    left: 10px;
    bottom: 5px;
    padding: 8px 12px;
  }

  .p-model-info {
    margin: 0;
  }
  .p-model-info {
    display: inline-block;
    padding: 8px 12px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    border-radius: 52px;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(6px);
    font-family: var(--font-family-Body);
    font-size: var(--Font-Size-Paragraph-Tiny);
    line-height: var(--Line-Height-Paragraph-Tiny);
  }
  .p-model-info p {
    color: #fff;
  }
}
/* Action Popup */
.yotpo-base-layout {
  width: 95% !important;
}

#rbr-container-element-false {
  display: none !important;
}
.p-info-media .p-info-thumb .swiper-slide img{
  cursor: zoom-in;
}
@media (max-width: 1200px) {
  .p-info-small {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
    padding-inline: 16px;
  }
  .p-info-title {
    font-size: 24px;
    line-height: 24px;
  }
  .p-info-rgular-price {
    font-size: 16px;
    line-height: 16px;
  }
  .p-info-compare-price {
    font-size: 13px;
    line-height: 13px;
  }
  .p-info-media {
    margin-bottom: 16px;
  }
}
/* .p-info-divider {
  width: 100%;
  min-height: 1px;
  background: #e5e7eb;
  display: block;
} */

product-info-form {
  width: 100%;
}
.notify-stock-button-x,
.p-info-add-to-cart {
  text-align: center;
  font-family: var(--font-family-Body, Archivo);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  /* min-width: 100%; */
  width: 100%;
  box-sizing: border-box;
  /* color: #F3F4F6; */
  /* border: none; */
  border-radius: 999999px;
  /* background:  #000; */
  backdrop-filter: blur(5px);
  transition: 0.5s ease;
  @media (max-width: 1200px) {
    padding-block: 16px;
  }
}
.notify-stock-button-x:hover,
.p-info-add-to-cart:hover {
  /* background-color: #1f2937; */
  /* background-color: #000;
  color: #F3F4F6; */
}
.p-info-add-to-cart.loading{
  color: #fff;
}
.p-info-btn-buy-now {
  p {
    margin: 0;
    color: #000;
    font-family: var(--font-family-Body, Archivo);
    font-size: var(--Font-Size-Paragraph-Small, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-Paragraph-Small, 20px); /* 142.857% */
  }
  margin-top: 12px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 8px;
}
.shopify-payment-button__button div[role="button"] {
  margin-top: 10px;
  display: block;
  padding: 10px 0 !important;
  width: 100%;

  border-radius: var(--rounded-3xl, 24px);
  box-sizing: border-box;
  border: 2px solid var(--Content-Base-main, #1f2937) !important;
  background: #000000 !important;
  text-align: center;
  cursor: pointer;

  font-family: var(--font-family-Body, Archivo);
  font-size: var(--Font-Size-UI-Controls-Control-Button-Regular, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-UI-Controls-Control-Button-Regular, 20px);
  text-transform: capitalize;
}
.shopify-payment-button__button div[role="button"]:hover {
  background: #262528 !important;
  border-color: #262528 !important;
}

.p-info-size-guide {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.p-info-size-guide span {
  color: var(--Content-Base-main, #1f2937);
  text-align: right;
  font-family: var(--font-family-Body);
  font-size: var(--Font-Size-Paragraph-Small, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Paragraph-Small, 20px);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.p-info-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0px;
}
.p-info-info-title {
  color: var(--Content-Base-main, #1f2937);
  font-family: var(--font-family-Title, Archivo);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.32px;
  box-sizing: border-box;
  margin: 0;
}
.p-info-info-contents * {
  color: #000;
  font-family: var(--font-family-Body, Archivo);
  font-size: var(--Font-Size-Paragraph-Tiny);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Paragraph-Tiny); /* 150% */
}
.p-info-info-contents:empty {
  display: none;
}
.p-info-info-contents p:has(style) {
  display: none;
}
.p-info-info-contents :is(p) {
  margin: 0 0 8px 0;
}

product-variant-picker {
  display: block;
  width: 100%;
}
product-info-form {
  padding-top: 12px;
}
.p-info-variant-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 12px;
}
.p-info-option-label {
  color: #000;
  font-family: var(--font-family-Body, Archivo);
  font-size: var(--Font-Size-Paragraph-Small, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-Height-Paragraph-Small, 20px);
  margin: 0;
}
.p-info-option-label span.--option-name {
    font-weight: 600;
}
.p-info-variants-option.color-option {
  /* display: flex; */
  /* padding: 0; */
  /* align-items: center; */
  /* gap: 8px; */
  /* align-self: stretch; */
  /* box-sizing: border-box; */
  /* display: grid;
  grid-template-columns: repeat(7, 1fr); */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  label{
    display: block;
    cursor: pointer;
    span{
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-sizing: border-box;
      background-size: 110% 110%;
      background-position: center;
      border: 0.2px solid rgb(151, 144, 144);
      outline: 2px solid transparent;
      outline-offset: 3px;
      overflow: hidden;
      padding: 6px;
      transition: all 0.3s ease;
      &:hover{
        outline-color: #1F2937;
        border-color: transparent;
        transform: scale(1.1);
      }
    }
  }
  .p-info-variant-value{
    input:checked ~ label span{
      outline-color: #1F2937;
      border-color: transparent;
    }
  }
  /* label {
    display: flex;
    width: 48px;
    min-width: 48px;
    height: auto;
    box-sizing: border-box;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: var(--rounded-lg, 8px);
    background: transparent;
    cursor: pointer;
    overflow: hidden;
  }

  label img {
    width: 100%;
    height: auto;
    aspect-ratio: 5/6;
    object-fit: cover;
    border-radius: 4px;
  }

  input:checked + label {
    border-radius: var(--rounded-lg, 8px);
    border: 1px solid var(--Border-Base-dense, #4b5563);
    background: transparent;
    box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.05),
      0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  } */
}
.p-info-app-block:empty {
  display: none;
}
.p-info-variants-option:not(.color-option) {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 8px;
  flex-wrap: wrap;

  label {
    border-radius: 50px;
    /* background: var(--Background-base-Muted, #f9fafb); */
    color: #000;
    font-family: var(--font-family-Body, Archivo);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--Background-base-Muted, #f9fafb); */
    /* border: 1px solid #10100fcc; */
    border: none;
    cursor: pointer;
    text-align: center;
    /* min-width: 60px; */
    min-width: 49px;
    height: 26px;
    box-sizing: border-box;
    padding: 0 8px;
    overflow: hidden;
    transition: 0.5s ease;
  }

  label:hover,
  input:checked + label {
    /* border: 1px solid var(--Border-Base-dense, #4b5563);
    background: var(--Background-base, #fff); */
    background: #000;
    color: #fff;
  }
}

.ruk_rating_snippet i {
  color: #000000 !important;
}
.ruk_rating_snippet {
  /* margin-bottom: 7px; */
}

.p-info-gender {
  display: flex;
  gap: 15px;
  a {
    text-decoration: none;
    display: flex;
    border-radius: 9999px;
    background: #D5D5D5;
    color: #10100F;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px; /* 137.143% */
    padding: 10px 20px;
    cursor: pointer;
    &:not(.active):hover{
      color: #FFF;
      background: #10100F;
    }
    &.active{
      color: #FFF;
      background: #10100F;
    }
  }
}

@media screen and (max-width: 1200px) {
  .pdp-sm {
    display: none !important;
  }
  .p-info-size-sm button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #000;
    height: 40px;
  }
}

@media screen and (min-width: 1201px) {
  .pdp-lg {
    display: none;
  }
}



/* Collections */
.pinfo-collection-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
}
.pinfo-collection-wrapper a{
  color: #000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
/* Collections */



/* Bagde */
.pinfo-badge-wrapper{
  display: flex;
  align-items: center;
  gap: 8px;
}
.pinfo-badge-wrapper .pinfo-single-badge{
  font-size: 12px;
  line-height: 16px;
  color: #995c00;
}
/* Bagde */



/* Inventory Status */
.inventory-status {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
}

.inventory-status.status-circle--red {
  color: #B3292E;
}

.inventory-status.status-circle--orange {
  color: #DF7606;
}

.inventory-status.status-circle--green {
  color: green;
}

.status-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  vertical-align: middle;
  outline-offset: 2px;
  animation: pulse-glow 1.5s infinite;
  margin-left: 4px;
}

.status-circle--red .status-circle {
  background-color: #B3292E;
  outline: 2px solid #B3292E;
}

.status-circle--orange .status-circle {
  background-color: #DF7606;
  outline: 2px solid #DF7606;
}

.status-circle--green .status-circle {
  background-color: green;
  outline: 2px solid green;
}

@keyframes pulse-glow {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px 0px;
  }
  25% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  75% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }
}

/* Apply color-specific glowing effects */
.status-circle--red .status-circle {
  animation: pulse-glow-red 1.5s infinite;
}

.status-circle--orange .status-circle {
  animation: pulse-glow-orange 1.5s infinite;
}

.status-circle--green .status-circle {
  animation: pulse-glow-green 1.5s infinite;
}

@keyframes pulse-glow-red {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px 0px;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 0 8px 4px rgba(179, 41, 46, 0.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px 0px;
  }
}

@keyframes pulse-glow-orange {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px 0px;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 0 8px 4px rgba(223, 118, 6, 0.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px 0px;
  }
}

@keyframes pulse-glow-green {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px 0px;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 0 8px 4px rgba(0, 128, 0, 0.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px 0px;
  }
}

/* @keyframes pulse-glow-green {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px 0px;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
    box-shadow: 0 0 15px 5px rgba(0, 128, 0, 0.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0px 0px;
  }
} */

/* Inventory Status */

/* style with  */
.style--with--link-btn{
color: #FFF;
margin: 0;
font-family: var(--font-family-Body, Archivo);
font-size: var(--Font-Size-Paragraph-Tiny, 12px);
font-style: normal;
font-weight: 400;
line-height: var(--Line-Height-Paragraph-Tiny, 16px); /* 133.333% */
border-radius: 52px;
background: rgba(0, 0, 0, 0.45);
backdrop-filter: blur(6px);
display: flex;
padding: 6px 12px;
align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 12;  
@media(max-width: 768px){
      top: unset;
    right: unset;
    bottom: 10px;
    left: 14px;
}
}

/* Thumb Slider */

.thumb-slide-control {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 12;
}
.thumb-slide-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.thumb-slide-control .swiper-button-next,
.thumb-slide-control .swiper-button-prev {
  position: static;
  color: #000;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #FFF;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 0;
}
.thumb-slide-control .swiper-button-next svg,
.thumb-slide-control .swiper-button-prev svg{
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
}
.thumb-slide-control .swiper-button-next:after,
.thumb-slide-control .swiper-button-prev:after{
  content: none;
}

.thumb-slide-control .swiper-pagination {
  position: static;
  color: #000;
  width: unset;
  cursor: default;
}
.thumb-slide-control .swiper-pagination .swiper-pagination-current,
.thumb-slide-control .swiper-pagination .swiper-pagination-total{
  font-size: 14px;
  line-height: 1.2;
  color: #1f2937;
}
.thumb-slide-control{
  cursor: pointer;
}


@media (max-width: 1024px) {
  .thumb-slide-control{
    /* position: static;
    margin: 12px 0 0;
    padding: 0 16px; */
    right: 10px;
    bottom: 05px;
    left: auto;
    font-weight: 600;
    /* padding: 6px 12px;
    border-radius: 9999px;
    background-color: #e3e3e36b;
    border-radius: 9999px;
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    justify-content: center; */
  }
  .thumb-slide-nav{
    display: none;
  }
  .thumb-slide-control .swiper-button-next,
  .thumb-slide-control .swiper-button-prev {
  }
  .thumb-slide-control .zoom-close {
    width: 36px;
    height: 36px;
  }
  .thumb-slide-control .swiper-button-next,
  .thumb-slide-control .swiper-button-prev {
    width: 36px;
    height: 36px;
  }
  .thumb-slide-control .swiper-button-next svg, .thumb-slide-control .swiper-button-prev svg {
    width: 16px;
    height: 16px;
  }
  .thumb-slide-control .swiper-pagination .swiper-pagination-current,
  .thumb-slide-control .swiper-pagination .swiper-pagination-total{
    font-size: 12px;
  }
}
/* Thumb Slider */

/* Zoom Popup Styles */
.zoom-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3e3e36b;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom-popup .zoom-swiper {
  width: 100%;
  height: 100%;
}

.zoom-popup .zoom-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .zoom-popup .zoom-slide {
    cursor: none !important;
  }
}

.zoom-popup .zoom-bg-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.3s ease;
  position: relative;
}

.zoom-popup .zoom-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10000;
}
.zoom-swiper-nav {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 12;
}
.zoom-swiper-nav-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.zoom-popup .swiper-button-next,
.zoom-popup .swiper-button-prev {
  position: static;
  color: #000;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #FFF;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 0;
}
.zoom-popup .swiper-button-next svg,
.zoom-popup .swiper-button-prev svg{
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
}
.zoom-popup .swiper-button-next:after,
.zoom-popup .swiper-button-prev:after{
  content: none;
}

.zoom-popup .swiper-pagination {
  position: static;
  color: #000;
  width: unset;
  cursor: default;
}
.zoom-popup .swiper-pagination .swiper-pagination-current,
.zoom-popup .swiper-pagination .swiper-pagination-total{
  font-size: 14px;
  line-height: 1.2;
  color: #1f2937;
}
.zoom-swiper-nav .swiper-button-next, 
.zoom-swiper-nav .swiper-button-prev,
.zoom-swiper-nav 
.zoom-swiper-nav-buttons,
.zoom-swiper-nav-pagination {
  cursor: default;
}



.custom-zoom-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999999;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FFF;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  will-change: transform;
}

.custom-zoom-cursor .cursor-svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 989px) {
  .zoom-popup .swiper-button-next,
  .zoom-popup .swiper-button-prev {
  }
  .zoom-popup .zoom-close {
    width: 36px;
    height: 36px;
  }
  .zoom-popup .swiper-button-next,
  .zoom-popup .swiper-button-prev {
    width: 36px;
    height: 36px;
  }
  .zoom-popup .swiper-button-next svg, .zoom-popup .swiper-button-prev svg {
    width: 16px;
    height: 16px;
  }
}