.--set-product {
  .--image-wrapper{
    position: relative;
  }
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
  }
  .--product-details {
    padding-block: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .--product-title-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    position: relative;
  }
  .--product-title-wrapper .--name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }
  .color-swatches {
    box-sizing: border-box;
    padding-inline: 5px;
}
  .--options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block: 8px;
  }
  .--size-element-wrapper {
    position: relative;
  }
  .--selected_size {
    /* background: red; */
    padding: 10px 15px;
    border-radius: 50px;
    /* text-align: center; */
    border: 1px solid #efefef;
    cursor: pointer;
    margin-block: 8px;
    position: relative;
  }
.--selected_size svg {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: calc(50% - 8px);
}
  .--size-selector {
    display: none;
    flex-direction: column;
    /* gap: 10px; */
    position: absolute;
    background: #000;
    width: 100%;
    border-radius: 10px;
    left: 0;
    height: max-content;
    bottom: 0;
    color: #fff;
    padding: 5px 10px;
  }
  .--size-selector.active {
    display: flex;
  }
  label.size-radio-label {
    cursor: pointer;
    padding-block: 5px;
  }
  label.size-radio-label.size-radio--disabled {
    /* color: #12121299; */
    text-decoration: line-through;
  }
  input.size-radio {
    display: none;
  }

  button.--atc-button {
    text-align: center;
    font-family: var(--font-family-Body, Archivo);
    font-size: 16px;

    line-height: var(--Line-Height-UI-Controls-Control-Button-Regular, 20px);
    text-transform: capitalize;
    padding: 10px 25px;
    border-radius: 50px;
    box-sizing: border-box;
    color: #000;
    border: 1px solid #000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: 0.5s ease;
  }
  button.--atc-button:hover {
    
    @media(min-width: 768px){
      color: #fff;
    background: #000;
    }
  }
}
