    .--single-chart {
      padding-block: var(--Spacing-Container-md, 24px);
    }

    .--top-block {
      display: grid;
      /* grid-template: repeat(2, minmax(0, 1fr)) / repeat(2, minmax(0, 1fr)); */
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-bottom: var(--Spacing-Container-md, 16px);
    }

    .--chart-title {
      color: #000;
      font-family: var(--font-family-Title, "Neue Plak");
      font-size: var(--Font-Size-Heading-H4);
      line-height: var(--Line-Height-Heading-H4);
      letter-spacing: 1.2px;
      text-transform: uppercase;

      @media (max-width: 600px) {
        line-height: var(--Line-Height-Heading-H3);
      }
    }

    p.--chart-content {
      /* grid-column: 1/2; */
      color: #000;
      font-family: var(--font-family-Body, "Neue Plak");
      font-size: var(--Font-Size-Paragraph-Regular, 16px);
      line-height: var(--Line-Height-Paragraph-Regular, 24px);
      margin-block: 8px 0;

      @media (max-width: 600px) {
        /* grid-column: 1/-1; */
      }
    }

    .size-guide-tab-content--custom {
      .--measurement-row:nth-child(odd) {
        background: var(--Background-base-subtle, #F3F4F6);
      }

      .--measurement-row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        font-family: var(--font-family-Body, "Neue Plak");
        font-size: var(--Font-Size-Paragraph-Large, 20px);
        text-transform: uppercase;
        line-height: var(--Line-Height-Paragraph-Large, 30px);
        padding-block: var(--Spacing-Container-sm, 16px);

        @media (max-width: 600px) {
          font-size: var(--Font-Size-Paragraph-Regular, 16px);
          line-height: var(--Line-Height-Paragraph-Regular, 24px);
        }
      }
      .--measurement-row.women--top {
        grid-template-columns: repeat(3, 1fr);
      }
      .--measurement-row.women--bottom {
        grid-template-columns: repeat(4, 1fr);
      }

      .--measurement-heading.--measurement-row {
        background: var(--Background-inverted-main, #1F2937);
        color: var(--Content-Inverted-main, #F3F4F6);
      }
    }

    .toggle-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: Arial, sans-serif;
      font-size: 18px;

      @media (max-width: 600px) {
        /* align-items: flex-start;
        grid-column: 2/-1;
        grid-row: 1/2; */
      }
    }

    .toggle-label {
      margin: 0 10px;
      color: #000;
      font-family: var(--font-family-Body, "Neue Plak");
      font-size: var(--Font-Size-Paragraph-Regular, 16px);
      line-height: var(--Line-Height-Paragraph-Regular, 24px);
    }

    .toggle-switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 24px;

      @media (max-width: 600px) {
        width: 30px;
        height: 15px;
        margin-block: 2px;
      }
    }

    .toggle-switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #9CA3AF;
      transition: 0.4s;
      border-radius: 12px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;

      @media (max-width: 600px) {
        height: 10px;
        width: 10px;
      }
    }

    input:checked + .slider {
      background-color: #7d8795;
    }

    input:checked + .slider:before {
      transform: translateX(26px);

      @media (max-width: 600px) {
        transform: translateX(14px);
      }
    } */